{% extends '/home/index.html.twig' %}

{% block body %}






   <div class="rn-breadcrumb-inner ptb--30">
         <div class="container">
             <div class="row align-items-center">
                 <div class="col-lg-6 col-md-6 col-12">
                     <h5 class="title text-center text-md-start">My Subscriptions</h5>
                 </div>

             </div>
         </div>
     </div>
  


  
    <div class="rn-banner-area">
        <div class="slider-activation-banner-4 game-banner-short-slick-wrapper slick-arrow-style-one rn-slick-dot-style">
{#            <div id="abonnements-list"> #}{# Ajout de l'ID abonnements-list #}
                {% for abonnement in l %}
                    <div class="slider-style-7 border-radious-none bg_image--2 pt--150 pb--190 pt_sm--70 pb_sm--70 bg_image" data-black-overlay="6">
                        <div class="rn-banner-wrapper g-5 row">
                            <div class="col-xl-4 col-lg-12 col-12 order-3 order-xl-1 order-sm-1">
                                <a href="product-details.html">
                                    <h2 class="title pl--30">
                                        {{ abonnement.Nom }}
                                        {{ abonnement.Prenom }}

                                        <br>
                                    </h2>
                                    <h2 class="title pl--30">
                                        <span>{{ abonnement.TypeAbonnement }}

</span>
                                    </h2>
                                </a>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-12 order-2 order-xl-2 order-sm-2">
                                <div class="item-description">
                                    <p>
                                        Cet abonnement est personnel et ne permet qu'à celui qui l'achète de l'utiliser.
                                    </p>
                                    <div class="product-share-wrapper">
                                        <div class="profile-share">
                                            <a href="author.html" class="avatar" data-tooltip={{ abonnement.nom }} {{ abonnement.Prenom }}>
                                                <img src="{{ asset('/images/abonnements/'~ abonnement.image ) }}" alt="Nft_Profile">
                                            </a>
                                            <a class="more-author-text" href="#">2+ </a>
                                        </div>
                                        <!-- Start Countdown area -->
                                        <div class="countdown" data-date="2025-10-09" >
                                            <div class="countdown-container days">
                                                <span class="countdown-value days-bottom">285</span>
                                                <span class="countdown-heading days-top">Day</span>
                                            </div>
                                            <div class="countdown-container hours">
                                                <span class="countdown-value hours-bottom">09</span>
                                                <span class="countdown-heading hours-top">Hr's</span>
                                            </div>
                                            <div class="countdown-container minutes">
                                                <span class="countdown-value minutes-bottom">30</span>
                                                <span class="countdown-heading minutes-top">Min's</span>
                                            </div>
                                            <div class="countdown-container seconds">
                                                <span class="countdown-value seconds-bottom">15</span>
                                                <span class="countdown-heading seconds-top">Sec</span>
                                            </div>
                                        </div>
                                        <!-- End Countdown area -->
                                    </div>
                                    <button type="button" class="btn btn-primary-alta btn-large mt--35" data-bs-toggle="modal" data-bs-target="#placebidModal" tabindex="0">Voir détails</button>
                                 {#   <button type="button" class="btn btn-primary-alta btn-large mt--35" data-bs-toggle="modal" data-bs-target="#placebidModal" tabindex="0" onclick="deletePost({{abonnement.id}})">Supprimer l'abonnement</button>#}
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-12 col-12 order-1 order-xl-3 order-sm-3">
                                <div class="img-thumb-award d-flex justify-content-center">
                                    <img src="{{ asset('/images/abonnements/'~ abonnement.image ) }}" alt="Nuron-Logo">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
{#            </div>#}
        </div>
    </div>
<style>
.bg_image--2 {
    background-image: url('/images/trans.gif');
    background-size: cover; 
    background-position: center;
}

</style>
    <script>
        function deletePost(abonnementId) {
            if (confirm("Êtes-vous sûr de vouloir supprimer cet abonnement ?")) {
                $.ajax({
                    url: '/showAbonnement/' + abonnementId,
                    type: 'DELETE',
                    success: function(response) {
                        $('#abonnements-list').load('/showAbonnement'); // Recharge la liste des abonnements
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            }
        }
        function countTime(debut,end){
            const debutTimestamp =debut ; // Replace with actual timestamp
            const endDate = end; // Replace with actual date object

// Calculate the difference in milliseconds
            const timeDifference = endDate.getTime() - debutTimestamp;

// Check if the end date has passed (negative difference)
            if (timeDifference <= 0) {
                console.error("End date has already passed. Countdown cannot be displayed.");
                return; // Exit the function if end date is in the past
            }

// Calculate days, hours, minutes, and seconds
            const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

// Update the countdown elements
            const countdownContainer = document.querySelector('.countdown');

            countdownContainer.dataset.date = endDate.toISOString().split('T')[0]; // Update data-date attribute

            const dayElement = countdownContainer.querySelector('.days .countdown-value');
            dayElement.textContent = days.toString().padStart(3, '0'); // Pad with leading zeros

            const hourElement = countdownContainer.querySelector('.hours .countdown-value');
            hourElement.textContent = hours.toString().padStart(2, '0');

            const minuteElement = countdownContainer.querySelector('.minutes .countdown-value');
            minuteElement.textContent = minutes.toString().padStart(2, '0');

            const secondElement = countdownContainer.querySelector('.seconds .countdown-value');
            secondElement.textContent = seconds.toString().padStart(2, '0');


        }


        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background: #3498db;
}
.main-box{
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  width: 400px;
  height: 550px;
  text-align: center;
}
.main-box .content{
  position: relative;
  height: 100%;
  width: 100%;
}
.content .box{
  position: absolute;
  height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 25px;
  cursor: pointer;
}
.share, .cancel{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 20px;
  font-weight: 600;
  color: #2980b9;
  line-height: 50px;
  background: #fff;
  letter-spacing: 1px;
  border-radius: 25px;
  opacity: 0;
  transition: all 0.3s ease;
}
.content .box .share{
  opacity: 1;
}
#check:checked ~ .box .share{
  opacity: 0;
}
#check:checked ~ .box .cancel{
  opacity: 1;
}
.content .image-box{
  position: absolute;
  height: 450px;
  width: 100%;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px;
  border-radius: 25px;
  transition: all 0.4s ease;
}
#check:checked ~ .image-box{
  bottom: 70px;
}
#check{
  display: none;
}
.image-box::before{
  position: absolute;
  content: '';
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  height: 30px;
  width: 30px;
  background: #fff;
  z-index: -1;
}
.image-box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 26px;
}
.image-box .about{
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
}
#check:checked ~ .image-box .about{
  opacity: 1;
}
.about .details{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 35px;
}
.details .name, .job{
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
 .details .icon i{
   font-size: 20px;
   color: #fff;
   height: 45px;
   width: 45px;
   line-height: 43px;
   border-radius: 50%;
   border: 2px solid #fff;
   margin: 14px 5px;
   transition: all 0.3s ease;
 }
.details .icon i:hover{
  transform: scale(0.95);
}
    </script>

{% endblock %}
