{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdProd</th>
                <th>IdUser</th>
                <th>Name</th>
                <th>Descreption</th>
                <th>IsDeleted</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>State</th>
                <th>Timestamp</th>
                <th>Type</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.idProd }}</td>
                <td>{{ product.idUser }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.descreption }}</td>
                <td>{{ product.isDeleted ? 'Yes' : 'No' }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.state }}</td>
                <td>{{ product.timestamp ? product.timestamp|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.category }}</td>
                <td>
                    <a href="{{ path('app_market_place_show', {'idProd': product.idProd}) }}">show</a>
                    <a href="{{ path('app_market_place_edit', {'idProd': product.idProd}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_market_place_new') }}">Create new</a>
{% endblock %}
