{% extends 'base.html.twig' %}

{% block stylesheets_wtf1 %}
    <link rel="stylesheet" href="{{ asset('css/wtf.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/marketScript.js') }}"></script>
    <script src="{{ asset('js/basket.js') }}"></script>
{% endblock %}

{% block body %}

    {#  <body class="template-color-1 nft-body-connect"> #}


    <!-- start page title area -->
    <div class="rn-breadcrumb-inner ptb--30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <h5 class="title text-center text-md-start">
                        Our MarketPlace
                    </h5>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-list">
                        <li class="item"><a href="../home/index.html.twig">Home</a></li>
                        <li class="separator"><i class="feather-chevron-right"></i></li>
                        <li class="item current">MarketPlace</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title area -->

    <!-- explore section with left side filter start -->
    <div class="explore-area rn-section-gapTop">
        <div class="container">
            <div class="row mb--40">
                <div class="col-12">
                    <h3 class="title">Find Your Non Replaceable Token</h3>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-3 order-2 order-lg-1">
                    <div class="nu-course-sidebar">
                        <!-- Start Widget Wrapper  -->
                        <div class="nuron-expo-filter-widget widget-shortby">
                            <div class="inner">
                                <h5 class="widget-title">Sort By</h5>
                                <div class="content">
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="short-check1"/>
                                        <label for="short-check1">Newest</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="short-check2"/>
                                        <label for="short-check2">Oldest</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="short-check3"/>
                                        <label for="short-check3">Popular Courses</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="short-check4"/>
                                        <label for="short-check4">Featured On This Month</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Widget Wrapper  -->

                        <!-- Start Widget Wrapper  -->
                        <div class="nuron-expo-filter-widget widget-category mt--30">
                            <div class="inner">
                                <h5 class="widget-title">Categories</h5>
                                <div class="content">
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="cat-check1"/>
                                        <label for="cat-check1"
                                        >Art &amp; Design <span>(24)</span></label
                                        >
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="cat-check2"/>
                                        <label for="cat-check2"
                                        >Web Development <span>(12)</span></label
                                        >
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="cat-check3"/>
                                        <label for="cat-check3"
                                        >Business Management <span>(8)</span></label
                                        >
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="cat-check4"/>
                                        <label for="cat-check4"
                                        >Digital Marketing <span>(3)</span></label
                                        >
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="cat-check5"/>
                                        <label for="cat-check5"
                                        >Music &amp; Fashion <span>(13)</span></label
                                        >
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="cat-check6"/>
                                        <label for="cat-check6"
                                        >Financial Management <span>(25)</span></label
                                        >
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="cat-check7"/>
                                        <label for="cat-check7">Sports <span>(19)</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Widget Wrapper  -->

                        <!-- Start Widget Wrapper  -->
                        <div class="nuron-expo-filter-widget widget-shortby mt--30">
                            <div class="inner">
                                <h5 class="widget-title">Level</h5>
                                <div class="content">
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="level-check1"/>
                                        <label for="level-check1">All Skill</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="level-check2"/>
                                        <label for="level-check2">Beginner</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="level-check3"/>
                                        <label for="level-check3">Intermediate</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="level-check4"/>
                                        <label for="level-check4">High</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Widget Wrapper  -->

                        <!-- Start Widget Wrapper  -->
                        <div class="nuron-expo-filter-widget widget-shortby mt--30">
                            <div class="inner">
                                <h5 class="widget-title">Price</h5>
                                <div class="content">
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="price-check1"/>
                                        <label for="price-check1">All Prices</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="price-check2"/>
                                        <label for="price-check2">Price: Low to High</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="price-check3"/>
                                        <label for="price-check3">Price: High to Low</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="price-check4"/>
                                        <label for="price-check4">Free Paid</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Widget Wrapper  -->

                        <!-- Start Widget Wrapper  -->
                        <div class="nuron-expo-filter-widget widget-shortby mt--30">
                            <div class="inner">
                                <h5 class="widget-title">Language</h5>
                                <div class="content">
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="lang-check1"/>
                                        <label for="lang-check1">All Language</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="lang-check2"/>
                                        <label for="lang-check2">Arabic</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="lang-check3"/>
                                        <label for="lang-check3">English</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="lang-check4"/>
                                        <label for="lang-check4">Russian</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Widget Wrapper  -->

                        <!-- Start Widget Wrapper  -->
                        <div class="nuron-expo-filter-widget widget-shortby mt--30">
                            <div class="inner">
                                <h5 class="widget-title">Short By Rating</h5>
                                <div class="content">
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="rating-check1"/>
                                        <label for="rating-check1">
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                        </label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="rating-check2"/>
                                        <label for="rating-check2">
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill off"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                        </label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="rating-check3"/>
                                        <label for="rating-check3">
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill off"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill off"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                        </label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="rating-check4"/>
                                        <label for="rating-check4">
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill off"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill off"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill off"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                        </label>
                                    </div>

                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="rating-check5"/>
                                        <label for="rating-check5">
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill off"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill off"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill off"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="16"
                                                    height="16"
                                                    fill="currentColor"
                                                    class="bi bi-star-fill off"
                                                    viewBox="0 0 16 16"
                                            >
                                                <path
                                                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                                                />
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Widget Wrapper  -->

                        <!-- Start Widget Wrapper  -->
                        <div class="nuron-expo-filter-widget widget-shortby mt--30">
                            <div class="inner">
                                <h5 class="widget-title">Filter By Price</h5>
                                <div class="content">
                                    <div class="price_filter s-filter clear">
                                        <form action="#" method="GET">
                                            <div
                                                    id="slider-range"
                                                    class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                                            >
                                                <div
                                                        class="ui-slider-range ui-widget-header ui-corner-all"
                                                ></div>
                                                <span
                                                        class="ui-slider-handle ui-state-default ui-corner-all"
                                                        tabindex="0"
                                                ></span
                                                ><span
                                                        class="ui-slider-handle ui-state-default ui-corner-all"
                                                        tabindex="0"
                                                ></span>
                                            </div>
                                            <div class="slider__range--output">
                                                <div class="price__output--wrap">
                                                    <div class="price--output">
                              <span>Price :</span
                              ><input type="text" id="amount" readonly=""/>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Widget Wrapper  -->
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="row g-5">
                        <div id="sub-market-block" class="row g-5">
                            {% include 'market_place/sub_market.html.twig' with { 'products': products} %}
                        </div>
                        <nav class="pagination-wrapper" aria-label="Page navigation example">
                            <ul class="pagination single-column-blog">
                                <li class="page-item">
                                    <a class="page-link" onclick="DisplayListProducts('previous')">Previous</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link active" onclick="DisplayListProducts(1)" id="page-1">1</a>
                                </li>
                                {% for i in 2..nbr_pages %}
                                <li class="page-item">
                                    <a class="page-link" onclick="DisplayListProducts({{ i }})" id="page-{{ i }}">{{ i }}</a>
                                </li>
                                {% endfor %}
                                <li class="page-item">
                                    <a class="page-link" onclick="DisplayListProducts('next')" >Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- explore section with left side filter End -->


    <!-- End Footer Area  -->
    <!-- Modal -->
    <div
            class="rn-popup-modal placebid-modal-wrapper modal fade"
            id="placebidModal"
            tabindex="-1"
            aria-hidden="true"
    >
        <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
        >
            <i data-feather="x"></i>
        </button>
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Place a bid</h3>
                </div>
                <div class="modal-body">
                    <p>You are about to purchase This Product Form Nuron</p>
                    <div class="placebid-form-box">
                        <h5 class="title">Your bid</h5>
                        <div class="bid-content">
                            <div class="bid-content-top">
                                <div class="bid-content-left">
                                    <input id="value" type="text" name="value"/>
                                    <span>wETH</span>
                                </div>
                            </div>

                            <div class="bid-content-mid">
                                <div class="bid-content-left">
                                    <span>Your Balance</span>
                                    <span>Service fee</span>
                                    <span>Total bid amount</span>
                                </div>
                                <div class="bid-content-right">
                                    <span>9578 wETH</span>
                                    <span>10 wETH</span>
                                    <span>9588 wETH</span>
                                </div>
                            </div>
                        </div>
                        <div class="bit-continue-button">
                            <a href="connect.html" class="btn btn-primary w-100"
                            >Place a bid</a
                            >
                            <button
                                    type="button"
                                    class="btn btn-primary-alta mt--10"
                                    data-bs-dismiss="modal"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div
            class="rn-popup-modal share-modal-wrapper modal fade"
            id="shareModal"
            tabindex="-1"
            aria-hidden="true"
    >
        <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
        >
            <i data-feather="x"></i>
        </button>
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content share-wrapper">
                <div class="modal-header share-area">
                    <h5 class="modal-title">Share this NFT</h5>
                </div>
                <div class="modal-body">
                    <ul class="social-share-default">
                        <li>
                            <a href="#"
                            ><span class="icon"><i data-feather="facebook"></i></span
                                ><span class="text">facebook</span></a
                            >
                        </li>
                        <li>
                            <a href="#"
                            ><span class="icon"><i data-feather="twitter"></i></span
                                ><span class="text">twitter</span></a
                            >
                        </li>
                        <li>
                            <a href="#"
                            ><span class="icon"><i data-feather="linkedin"></i></span
                                ><span class="text">linkedin</span></a
                            >
                        </li>
                        <li>
                            <a href="#"
                            ><span class="icon"><i data-feather="instagram"></i></span
                                ><span class="text">instagram</span></a
                            >
                        </li>
                        <li>
                            <a href="#"
                            ><span class="icon"><i data-feather="youtube"></i></span
                                ><span class="text">youtube</span></a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div
            class="rn-popup-modal report-modal-wrapper modal fade"
            id="reportModal"
            tabindex="-1"
            aria-hidden="true"
    >
        <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
        >
            <i data-feather="x"></i>
        </button>
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content report-content-wrapper">
                <div class="modal-header report-modal-header">
                    <h5 class="modal-title">Why are you reporting?</h5>
                </div>
                <div class="modal-body">
                    <p>
                        Describe why you think this item should be removed from
                        marketplace
                    </p>
                    <div class="report-form-box">
                        <h6 class="title">Message</h6>
                        <textarea name="message" placeholder="Write issues"></textarea>
                        <div class="report-button">
                            <button type="button" class="btn btn-primary mr--10 w-auto">
                                Report
                            </button>
                            <button
                                    type="button"
                                    class="btn btn-primary-alta w-auto"
                                    data-bs-dismiss="modal"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

