{% extends 'base.html.twig' %}

{% block stylesheets_wtf1 %}
    <link rel="stylesheet" href="{{ asset('css/wtf.css') }}"/>
{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Raleway:500:600|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="{{ asset('css/chatPopUp.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/basket.js') }}"></script>
    <script src="{{ asset('js/chatPopUp.js') }}"></script>
{% endblock %}

{% block body %}

    {#  <body class="template-color-1 nft-body-connect"> #}


    <!-- start page title area -->
    <div class="rn-breadcrumb-inner ptb--30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <h5 class="title text-center text-md-start">
                        Our MarketPlace
                    </h5>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-list">
                        <li class="item"><a href="../home/index.html.twig">Home</a></li>
                        <li class="separator"><i class="feather-chevron-right"></i></li>
                        <li class="item current">MarketPlace</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title area -->

    <!-- explore section with left side filter start -->
    <div class="explore-area rn-section-gapTop">
        <div class="container">
            <div class="row mb--40">
                <div class="col-12">
                    <h3 class="title">Find The Best Products</h3>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-3 order-2 order-lg-1">
                    <div class="nu-course-sidebar">

                        <!-- Start Widget Wrapper  -->
                        <div class="nuron-expo-filter-widget widget-shortby mt--30">
                            <div class="inner">
                                <h5 class="widget-title">Filter By Price</h5>
                                <div class="content">
                                    <div class="price_filter s-filter clear">
                                        <form action="#" method="GET">
                                            <div
                                                    id="slider-range"
                                                    class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                                            >
                                                <div
                                                        class="ui-slider-range ui-widget-header ui-corner-all"
                                                ></div>
                                                <span
                                                        class="ui-slider-handle ui-state-default ui-corner-all"
                                                        tabindex="0"
                                                ></span
                                                ><span
                                                        class="ui-slider-handle ui-state-default ui-corner-all"
                                                        tabindex="0"
                                                ></span>
                                            </div>
                                            <div class="slider__range--output">
                                                <div class="price__output--wrap">
                                                    <div class="price--output">
                              <span>Price :</span
                              ><input type="text" id="amount" readonly=""/>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Widget Wrapper  -->


                        <!-- Start Widget Wrapper  -->
                        <div class="nuron-expo-filter-widget widget-shortby">
                            <div class="inner">
                                <h5 class="widget-title">Sort By Date</h5>
                                <div class="content">
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="datetime_today"/>
                                        <label for="datetime_today">Today</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="datetime_thisWeek"/>
                                        <label for="datetime_thisWeek">This Week</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="datetime_thisMonth"/>
                                        <label for="datetime_thisMonth">This Month</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Widget Wrapper  -->

                        <!-- Start Widget Wrapper  -->
                        <div class="nuron-expo-filter-widget widget-category mt--30">
                            <div class="inner">
                                <h5 class="widget-title">Categories</h5>
                                <div class="content">
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="category_sports"/>
                                        <label for="category_sports"
                                        >Sports</label
                                        >
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="category_food"/>
                                        <label for="category_food"
                                        >Food</label
                                        >
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="category_realEstate"/>
                                        <label for="category_realEstate"
                                        >RealEstate</label
                                        >
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="category_vehicle"/>
                                        <label for="category_vehicle"
                                        >Vehicle</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="category_entertainment"/>
                                        <label for="category_entertainment"
                                        >Entertainment</label
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Widget Wrapper  -->

                        <!-- Start Widget Wrapper  -->
                        <div class="nuron-expo-filter-widget widget-shortby mt--30">
                            <div class="inner">
                                <h5 class="widget-title">Price</h5>
                                <div class="content">
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="price_allPrices"/>
                                        <label for="price_allPrices">All Prices</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="price_asc"/>
                                        <label for="price_asc">Price: Low to High</label>
                                    </div>
                                    <div class="nuron-form-check">
                                        <input type="checkbox" id="price_desc"/>
                                        <label for="price_desc">Price: High to Low</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Widget Wrapper  -->


                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="row g-5">
                        <div id="sub-market-block" class="row g-5">
                            {% include 'market_place/sub_market.html.twig' with { 'products': products} %}
                        </div>
                        <div id="navPages">

                            {% include 'market_place/nav.html.twig' with { 'nbr_pages': nbr_pages} %}

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- explore section with left side filter End -->


    <!-- End Footer Area  -->
    <!-- Modal -->
    <div
            class="rn-popup-modal placebid-modal-wrapper modal fade"
            id="placebidModal"
            tabindex="-1"
            aria-hidden="true"
    >
        <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
        >
            <i data-feather="x"></i>
        </button>
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Place a bid</h3>
                </div>
                <div class="modal-body">
                    <p>You are about to purchase This Product Form Nuron</p>
                    <div class="placebid-form-box">
                        <h5 class="title">Your bid</h5>
                        <div class="bid-content">
                            <div class="bid-content-top">
                                <div class="bid-content-left">
                                    <input id="value" type="text" name="value"/>
                                    <span>wETH</span>
                                </div>
                            </div>

                            <div class="bid-content-mid">
                                <div class="bid-content-left">
                                    <span>Your Balance</span>
                                    <span>Service fee</span>
                                    <span>Total bid amount</span>
                                </div>
                                <div class="bid-content-right">
                                    <span>9578 wETH</span>
                                    <span>10 wETH</span>
                                    <span>9588 wETH</span>
                                </div>
                            </div>
                        </div>
                        <div class="bit-continue-button">
                            <a href="connect.html" class="btn btn-primary w-100"
                            >Place a bid</a
                            >
                            <button
                                    type="button"
                                    class="btn btn-primary-alta mt--10"
                                    data-bs-dismiss="modal"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div
            class="rn-popup-modal share-modal-wrapper modal fade"
            id="shareModal"
            tabindex="-1"
            aria-hidden="true"
    >
        <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
        >
            <i data-feather="x"></i>
        </button>
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content share-wrapper">
                <div class="modal-header share-area">
                    <h5 class="modal-title">Share this NFT</h5>
                </div>
                <div class="modal-body">
                    <ul class="social-share-default">
                        <li>
                            <a href="#"
                            ><span class="icon"><i data-feather="facebook"></i></span
                                ><span class="text">facebook</span></a
                            >
                        </li>
                        <li>
                            <a href="#"
                            ><span class="icon"><i data-feather="twitter"></i></span
                                ><span class="text">twitter</span></a
                            >
                        </li>
                        <li>
                            <a href="#"
                            ><span class="icon"><i data-feather="linkedin"></i></span
                                ><span class="text">linkedin</span></a
                            >
                        </li>
                        <li>
                            <a href="#"
                            ><span class="icon"><i data-feather="instagram"></i></span
                                ><span class="text">instagram</span></a
                            >
                        </li>
                        <li>
                            <a href="#"
                            ><span class="icon"><i data-feather="youtube"></i></span
                                ><span class="text">youtube</span></a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div
            class="rn-popup-modal report-modal-wrapper modal fade"
            id="reportModal"
            tabindex="-1"
            aria-hidden="true"
    >
        <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
        >
            <i data-feather="x"></i>
        </button>
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content report-content-wrapper">
                <div class="modal-header report-modal-header">
                    <h5 class="modal-title">Why are you reporting?</h5>
                </div>
                <div class="modal-body">
                    <p>
                        Describe why you think this item should be removed from
                        marketplace
                    </p>
                    <div class="report-form-box">
                        <h6 class="title">Message</h6>
                        <textarea name="message" placeholder="Write issues"></textarea>
                        <div class="report-button">
                            <button type="button" class="btn btn-primary mr--10 w-auto">
                                Report
                            </button>
                            <button
                                    type="button"
                                    class="btn btn-primary-alta w-auto"
                                    data-bs-dismiss="modal"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {#  <div id="chat-app" class="chat-app">

        <div class="chat-app_toggle toggle">
            <div class="icon send">
                <i class="fas fa-paper-plane"></i>
            </div>
            <div class="icon open">
                <i class="fas fa-comment"></i>
            </div>
        </div>

        <div class="chat-app_box">
            <div class="chat-app_header">
                <div class="close"></div>
                <div class="branding">
                    <div class="avatar is-online">
                        <img src="{{ asset('images/user/profile.png') }}" alt="">
                    </div>
                    <div class="content">
                        <p class="title">Omar Salhi</p>
                    </div>
                </div>
            </div>

            <div class="chat-app_content">
                <div class="messages">

                    <div class="message">
                        <p class="text">Cras at dapibus nisi, vel commodo ex.</p>
                    </div>

                    <div class="message reply">
                        <p class="text">
                            Pellentesque sagittis, velit sed vehicula rhoncus, orci risus tempus arcu, eu rhoncus ex
                            diam id felis
                        </p>
                    </div>

                    <div class="message">
                        <p class="text">
                            Ut ac ante ut quam pharetra.
                        </p>
                    </div>

                    <div class="message reply">
                        <p class="text">
                            Pellentesque sagittis, velit sed vehicula rhoncus, orci risus tempus arcu, eu rhoncus ex
                            diam id felis
                        </p>
                    </div>

                    <div class="message">
                        <p class="text">
                            Ut ac ante ut quam pharetra faucibus.
                        </p>
                    </div>

                </div>
            </div>

            <div class="chat-app_footer">
                <div class="tools">
                    <a class="button-icon">
                        <i class="far fa-smile-wink"></i>
                    </a>
                    <a class="button-icon">
                        <i class="fas fa-paperclip"></i>
                    </a>
                </div>
                <input class="chat-input" type="text" placeholder="Type..."/>
            </div>

        </div>
    </div> #}
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/marketScript.js') }}"></script>
    <script>
        setPriceIntervale({{ sortingData['minPrice'] }},{{ sortingData['maxPrice'] }})
    </script>
{% endblock %}