{% extends 'base.html.twig' %}
{%  block body %}

    <header class="rn-header haeder-default header--sticky">
        <div class="container">
            <div class="header-inner">
                <div class="header-left">
                    <div class="logo-thumbnail logo-custom-css">
                        <a class="logo-light" href="index.html"><img src="assets/images/logo/logo-white.png" alt="nft-logo"></a>
                        <a class="logo-dark" href="index.html"><img src="assets/images/logo/logo-dark.png" alt="nft-logo"></a>
                    </div>
                    <div class="mainmenu-wrapper">
                        <nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
                            <!-- Start Mainmanu Nav -->
                            <ul class="mainmenu">
                                <li class="has-droupdown has-menu-child-item">
                                    <a href="index.html">Home</a>
                                    <ul class="submenu">
                                        <li><a href="index.html">Home page - 01 <i class="feather-home"></i></a></li>
                                        <li><a href="index-two.html">Home page - 02<i class="feather-home"></i></a></li>
                                        <li><a href="index-three.html">Home page - 03<i class="feather-home"></i></a></li>
                                        <li><a href="index-four.html">Home page - 04<i class="feather-home"></i></a></li>
                                        <li><a href="index-five.html">Home page - 05<i class="feather-home"></i></a></li>
                                        <li><a href="index-six.html">Home page - 06<i class="feather-home"></i></a></li>
                                        <li><a href="index-seven.html">Home page - 07<i class="feather-home"></i></a></li>
                                        <li><a href="index-eight.html">Home page - 08<i class="feather-home"></i></a></li>
                                        <li><a href="index-nine.html">Home page - 09<i class="feather-home"></i></a></li>
                                        <li><a href="index-ten.html">Home page - 10<i class="feather-home"></i></a></li>
                                        <li><a href="index-eleven.html">Home page - 11<i class="feather-home"></i></a></li>
                                        <li><a href="index-twelve.html">Home page - 12<i class="feather-home"></i></a></li>
                                        <li><a href="index-thirteen.html">Home page - 13<i class="feather-home"></i></a></li>
                                        <li><a href="index-fourteen.html">Home page - 14<i class="feather-home"></i></a></li>
                                        <li><a href="index-fifteen.html">Home page - 15<i class="feather-home"></i></a></li>
                                        <li><a href="index-sixteen.html">Home page - 16<i class="feather-home"></i></a></li>
                                        <li><a href="index-seventeen.html">Home page - 17<i class="feather-home"></i></a></li>
                                        <li><a href="index-eighteen.html">Home page - 18<i class="feather-home"></i></a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About</a>
                                </li>
                                <li class="has-droupdown has-menu-child-item">
                                    <a href="#">Explore</a>
                                    <ul class="submenu">
                                        <li><a href="explore-one.html">Explore Filter<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-two.html">Explore Isotop<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-three.html">Explore Carousel<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-four.html">Explore Simple<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-five.html">Explore Place Bid<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-six.html">Place Bid With Filter<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-seven.html">Place Bid With Isotop<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-eight.html">Place Bid With Carousel<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-list-style.html">Explore Style List<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-list-column-two.html">Explore List Col-Two<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-left-filter.html">Explore Left Filter<i class="feather-fast-forward"></i></a></li>
                                        <li><a class="live-expo" href="explore-live.html">Live Explore</a></li>
                                        <li><a class="live-expo" href="explore-live-two.html">Live Explore Carousel</a></li>
                                        <li><a class="live-expo" href="explore-live-three.html">Live With Place Bid</a></li>
                                    </ul>
                                </li>
                                <li class="with-megamenu">
                                    <a href="#">Pages</a>
                                    <div class="rn-megamenu">
                                        <div class="wrapper">
                                            <div class="row row--0">
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li>
                                                            <a href="create.html">Create NFT<i data-feather="file-plus"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="upload-variants.html">Upload Type<i data-feather="layers"></i></a>
                                                        </li>
                                                        <li><a href="activity.html">Activity<i data-feather="activity"></i></a></li>
                                                        <li>
                                                            <a href="creator.html">Creators<i data-feather="users"></i></a>
                                                        </li>
                                                        <li><a href="collection.html">Our Collection<i data-feather="package"></i></a></li>
                                                        <li><a href="upcoming_projects.html">Upcoming Projects<i data-feather="loader"></i></a></li>
                                                        <li><a href="create-collection.html">Create Collection<i data-feather="edit-3"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="login.html">Log In <i data-feather="log-in"></i></a></li>
                                                        <li><a href="sign-up.html">Registration <i data-feather="user-plus"></i></a></li>
                                                        <li><a href="forget.html">Forget Password <i data-feather="key"></i></a></li>
                                                        <li>
                                                            <a href="author.html">Author/Profile(User) <i data-feather="user"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="connect.html">Connect to Wallet <i data-feather="pocket"></i></a>
                                                        </li>
                                                        <li><a href="privacy-policy.html">Privacy Policy <i data-feather="file-text"></i></a></li>
                                                        <li><a href="newsletter.html">Newsletter<i data-feather="book-open"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">

                                                        <li><a href="product.html">Product<i data-feather="folder"></i></a></li>
                                                        <li><a href="product-details.html">Product Details <i data-feather="layout"></i></a></li>
                                                        <li><a href="ranking.html">NFT Ranking<i data-feather="trending-up"></i></a></li>
                                                        <li><a href="edit-profile.html">Edit Profile<i data-feather="edit"></i></a></li>
                                                        <li><a href="blog-details.html">Blog Details<i data-feather="book-open"></i></a></li>
                                                        <li><a href="404.html">404 <i data-feather="alert-triangle"></i></a></li>
                                                        <li><a href="forum-community.html">Forum & Community<i data-feather="message-circle"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="about.html">About Us<i data-feather="award"></i></a></li>
                                                        <li><a href="contact.html">Contact <i data-feather="headphones"></i></a></li>
                                                        <li><a href="support.html">Support/FAQ <i data-feather="help-circle"></i></a></li>
                                                        <li><a href="terms-condition.html">Terms & Condition <i data-feather="list"></i></a></li>
                                                        <li><a href="coming-soon.html">Coming Soon <i data-feather="clock"></i></a></li>
                                                        <li><a href="maintenance.html">Maintenance <i data-feather="cpu"></i></a></li>
                                                        <li><a href="forum-details.html">Forum Details <i data-feather="message-circle"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="has-droupdown has-menu-child-item">
                                    <a class="down" href="blog.html">Blog</a>
                                    <ul class="submenu">
                                        <li><a href="blog-single-col.html">Blog Single Column<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="blog-col-two.html">Blog Two Column<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="blog-col-three.html">Blog Three Column<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="blog.html">Blog Four Column<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="blog-details.html">Blog Details<i class="feather-fast-forward"></i></a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                            <!-- End Mainmanu Nav -->
                        </nav>
                    </div>
                </div>
                <div class="header-right">
                    <div class="setting-option d-none d-lg-block">
                        <form class="search-form-wrapper" action="#">
                            <input type="search" placeholder="Search Here" aria-label="Search">
                            <div class="search-icon">
                                <button><i class="feather-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="setting-option rn-icon-list d-block d-lg-none">
                        <div class="icon-box search-mobile-icon">
                            <button><i class="feather-search"></i></button>
                        </div>
                        <form id="header-search-1" action="#" method="GET" class="large-mobile-blog-search">
                            <div class="rn-search-mobile form-group">
                                <button type="submit" class="search-button"><i class="feather-search"></i></button>
                                <input type="text" placeholder="Search ...">
                            </div>
                        </form>
                    </div>

                    <div class="setting-option header-btn rbt-site-header" id="rbt-site-header">
                        <div class="icon-box">
                            <a id="connectbtn" class="btn btn-primary-alta btn-small" href="connect.html">Wallet connect</a>
                        </div>
                    </div>

                    <div class="setting-option rn-icon-list notification-badge">
                        <div class="icon-box">
                            <a href="activity.html"><i class="feather-bell"></i><span class="badge">6</span></a>
                        </div>
                    </div>

                    <div class="header_admin" id="header_admin">
                        <div class="setting-option rn-icon-list user-account">
                            <div class="icon-box">
                                <a href="author.html"><img src="assets/images/icons/boy-avater.png" alt="Images"></a>
                                <div class="rn-dropdown">
                                    <div class="rn-inner-top">
                                        <h4 class="title"><a href="product-details.html">Christopher William</a></h4>
                                        <span><a href="#">Set Display Name</a></span>
                                    </div>
                                    <div class="rn-product-inner">
                                        <ul class="product-list">
                                            <li class="single-product-list">
                                                <div class="thumbnail">
                                                    <a href="product-details.html"><img src="assets/images/portfolio/portfolio-07.jpg" alt="Nft Product Images"></a>
                                                </div>
                                                <div class="content">
                                                    <h6 class="title"><a href="product-details.html">Balance</a></h6>
                                                    <span class="price">25 ETH</span>
                                                </div>
                                                <div class="button"></div>
                                            </li>
                                            <li class="single-product-list">
                                                <div class="thumbnail">
                                                    <a href="product-details.html"><img src="assets/images/portfolio/portfolio-01.jpg" alt="Nft Product Images"></a>
                                                </div>
                                                <div class="content">
                                                    <h6 class="title"><a href="product-details.html">Balance</a></h6>
                                                    <span class="price">25 ETH</span>
                                                </div>
                                                <div class="button"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="add-fund-button mt--20 pb--20">
                                        <a class="btn btn-primary-alta w-100" href="connect.html">Add Your More Funds</a>
                                    </div>
                                    <ul class="list-inner">
                                        <li><a href="author.html">My Profile</a></li>
                                        <li><a href="edit-profile.html">Edit Profile</a></li>
                                        <li><a href="connect.html">Manage funds</a></li>
                                        <li><a href="login.html">Sign Out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="setting-option mobile-menu-bar d-block d-xl-none">
                        <div class="hamberger">
                            <button class="hamberger-button">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>

                    <div id="my_switcher" class="my_switcher setting-option">
                        <ul>
                            <li>
                                <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                    <img class="sun-image" src="assets/images/icons/sun-01.svg" alt="Sun images">
                                </a>
                            </li>
                            <li>
                                <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                    <img class="Victor Image" src="assets/images/icons/vector.svg" alt="Vector Images">
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </header>
    <!-- End Header Area -->

    <div class="popup-mobile-menu">
        <div class="inner">
            <div class="header-top">
                <div class="logo logo-custom-css">
                    <a class="logo-light" href="index.html"><img src="assets/images/logo/logo-white.png" alt="nft-logo"></a>
                    <a class="logo-dark" href="index.html"><img src="assets/images/logo/logo-dark.png" alt="nft-logo"></a>
                </div>
                <div class="close-menu">
                    <button class="close-button">
                        <i class="feather-x"></i>
                    </button>
                </div>
            </div>
            <nav>
                <!-- Start Mainmanu Nav -->
                <ul class="mainmenu">
                    <li class="has-droupdown">
                        <a class="nav-link its_new" href="#">Home</a>
                        <ul class="submenu">
                            <li><a href="index.html">Home page - 01 <i class="feather-home"></i></a></li>
                            <li><a href="index-two.html">Home page - 02<i class="feather-home"></i></a></li>
                            <li><a href="index-three.html">Home page - 03<i class="feather-home"></i></a></li>
                            <li><a href="index-four.html">Home page - 04<i class="feather-home"></i></a></li>
                            <li><a href="index-five.html">Home page - 05<i class="feather-home"></i></a></li>
                            <li><a href="index-six.html">Home page - 06<i class="feather-home"></i></a></li>
                            <li><a href="index-seven.html">Home page - 07<i class="feather-home"></i></a></li>
                            <li><a href="index-eight.html">Home page - 08<i class="feather-home"></i></a></li>
                            <li><a href="index-nine.html">Home page - 09<i class="feather-home"></i></a></li>
                            <li><a href="index-ten.html">Home page - 10<i class="feather-home"></i></a></li>
                            <li><a href="index-eleven.html">Home page - 11<i class="feather-home"></i></a></li>
                            <li><a href="index-twelve.html">Home page - 12<i class="feather-home"></i></a></li>
                            <li><a href="index-thirteen.html">Home page - 13<i class="feather-home"></i></a></li>
                            <li><a href="index-fourteen.html">Home page - 14<i class="feather-home"></i></a></li>
                            <li><a href="index-fifteen.html">Home page - 15<i class="feather-home"></i></a></li>
                            <li><a href="index-sixteen.html">Home page - 16<i class="feather-home"></i></a></li>
                            <li><a href="index-seventeen.html">Home page - 17<i class="feather-home"></i></a></li>
                            <li><a href="index-eighteen.html">Home page - 18<i class="feather-home"></i></a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a>
                    </li>
                    <li class="has-droupdown">
                        <a class="nav-link its_new" href="#">Explore</a>
                        <ul class="submenu">
                            <li><a href="explore-one.html">Explore Filter<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-two.html">Explore Isotop<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-three.html">Explore Carousel<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-four.html">Explore Simple<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-five.html">Explore Place Bid<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-six.html">Place Bid With Filter<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-seven.html">Place Bid With Isotop<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-eight.html">Place Bid With Carousel<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-list-style.html">Explore Style List<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-list-column-two.html">Explore List Col-Two<i class="feather-fast-forward"></i></a></li>
                            <li><a href="explore-left-filter.html">Explore Left Filter<i class="feather-fast-forward"></i></a></li>
                            <li><a class="live-expo" href="explore-live.html">Live Explore</a></li>
                            <li><a class="live-expo" href="explore-live-two.html">Live Explore Carousel</a></li>
                            <li><a class="live-expo" href="explore-live-three.html">Live With Place Bid</a></li>
                        </ul>
                    </li>
                    <li class="with-megamenu">
                        <a class="nav-link its_new" href="#">Pages</a>
                        <div class="rn-megamenu">
                            <div class="wrapper">
                                <div class="row row--0">
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li>
                                                <a href="create.html">Create NFT<i data-feather="file-plus"></i></a>
                                            </li>
                                            <li>
                                                <a href="upload-variants.html">Upload Type<i data-feather="layers"></i></a>
                                            </li>
                                            <li><a href="activity.html">Activity<i data-feather="activity"></i></a></li>
                                            <li>
                                                <a href="creator.html">Creators<i data-feather="users"></i></a>
                                            </li>
                                            <li><a href="collection.html">Our Collection<i data-feather="package"></i></a></li>
                                            <li><a href="upcoming_projects.html">Upcoming Projects<i data-feather="loader"></i></a></li>
                                            <li><a href="create-collection.html">Create Collection<i data-feather="edit-3"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li><a href="login.html">Log In <i data-feather="log-in"></i></a></li>
                                            <li><a href="sign-up.html">Registration <i data-feather="user-plus"></i></a></li>
                                            <li><a href="forget.html">Forget Password <i data-feather="key"></i></a></li>
                                            <li>
                                                <a href="author.html">Author/Profile(User) <i data-feather="user"></i></a>
                                            </li>
                                            <li>
                                                <a href="connect.html">Connect to Wallet <i data-feather="pocket"></i></a>
                                            </li>
                                            <li><a href="privacy-policy.html">Privacy Policy <i data-feather="file-text"></i></a></li>
                                            <li><a href="newsletter.html">Newsletter<i data-feather="book-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">

                                            <li><a href="product.html">Product<i data-feather="folder"></i></a></li>
                                            <li><a href="product-details.html">Product Details <i data-feather="layout"></i></a></li>
                                            <li><a href="ranking.html">NFT Ranking<i data-feather="trending-up"></i></a></li>
                                            <li><a href="blog.html">Our News <i data-feather="message-square"></i></a></li>
                                            <li><a href="blog-details.html">Blog Details<i data-feather="book-open"></i></a></li>
                                            <li><a href="404.html">404 <i data-feather="alert-triangle"></i></a></li>
                                            <li><a href="forum-community.html">Forum & Community<i data-feather="message-circle"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li><a href="about.html">About Us<i data-feather="award"></i></a></li>
                                            <li><a href="contact.html">Contact <i data-feather="headphones"></i></a></li>
                                            <li><a href="support.html">Support/FAQ <i data-feather="help-circle"></i></a></li>
                                            <li><a href="terms-condition.html">Terms & Condition <i data-feather="list"></i></a></li>
                                            <li><a href="coming-soon.html">Coming Soon <i data-feather="clock"></i></a></li>
                                            <li><a href="maintenance.html">Maintenance <i data-feather="cpu"></i></a></li>
                                            <li><a href="forum-details.html">Forum Details <i data-feather="message-circle"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-droupdown has-menu-child-item">
                        <a class="nav-link its_new" href="blog.html">Blog</a>
                        <ul class="submenu">
                            <li><a href="blog-single-col.html">Blog Single Column<i class="feather-fast-forward"></i></a></li>
                            <li><a href="blog-col-two.html">Blog Two Column<i class="feather-fast-forward"></i></a></li>
                            <li><a href="blog-col-three.html">Blog Three Column<i class="feather-fast-forward"></i></a></li>
                            <li><a href="blog.html">Blog Four Column<i class="feather-fast-forward"></i></a></li>
                            <li><a href="blog-details.html">Blog Details<i class="feather-fast-forward"></i></a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <!-- End Mainmanu Nav -->
            </nav>
        </div>
    </div>
    <!-- start page title area -->
    <div class="rn-breadcrumb-inner ptb--30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <h5 class="title text-center text-md-start">Our Top NFTs</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-list">
                        <li class="item"><a href="index.html">Home</a></li>
                        <li class="separator"><i class="feather-chevron-right"></i></li>
                        <li class="item current">Ranking</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title area -->


    <div class="rn-upcoming-area rn-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- start Table Title -->
                    <div class="table-title-area d-flex">
                        <i data-feather="briefcase"></i>
                        <h3>Les Transports diponibles</h3>

                    </div>
                    <div class="setting-option header-btn rbt-site-header" id="rbt-site-header">
                        <div class="icon-box">
                            <a id="connectbtn" class="btn btn-primary-alta btn-small" href="{{ path('addTransport') }}">Add Transport</a>
                        </div>
                    </div>
                    <!-- End Table Title -->

                    <!-- table area Start -->
                    <div class="box-table table-responsive">
                        <table class="table upcoming-projects">
                            <thead>
                            <tr>
                                <th>
                                    <span>Company</span>
                                </th>
                                <th>
                                    <span>Reference</span>
                                </th>
                                <th>
                                    <span>Price</span>
                                </th>
                                <th>
                                    <span>Heure</span>
                                </th>
                                <th>
                                    <span>Station depart</span>
                                </th>
                                <th>
                                    <span>Station arrive</span>
                                </th>
                                <th>
                                    <span>Actions</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="ranking">
                {% for transport in l %}
                            <tr class="color-light">
                                <td>
                                    <div class="product-wrapper d-flex align-items-center">
                                        <a href="product-details.html" class="thumbnail">
                                            <img src="assets/images/portfolio/transtu.png" alt="Nft_Profile">
                                        </a>v
{#                                        <span>{{ transport.Prix }}</span>#}
                                    </div>
                                </td>
{#                                <td><span >{{ transport.Reference }}</span></td>#}
                                <td><span class="color-danger">  {{ transport.VehiculeImage }}  </span></td>
                                <td><span class="color-green">{{ transport.Reference }}</span></td>
                                <td><span> transport.Type_Vehicule   </span></td>
                                <td><span>{{ transport.Prix }}</span></td>
                                <td><span>{{ transport.idTransport }}</span></td>
                                <td><span>

                        <div class="icon-box">
                                  <a id="connectbtn" class="btn btn-primary-alta btn-small" onclick="showModifierPopup()">

                                      <svg class="feather feather-edit" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/>
                                      </svg>

                                  </a>
                               <a id="connectbtn" class="btn btn-primary-alta btn-small" onclick="deletePost({{transport.idTransport  }} )">

                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 100 100">
                                          <path fill="#f37e98" d="M25,30l3.645,47.383C28.845,79.988,31.017,82,33.63,82h32.74c2.613,0,4.785-2.012,4.985-4.617L75,30"></path><path fill="#f15b6c" d="M65 38v35c0 1.65-1.35 3-3 3s-3-1.35-3-3V38c0-1.65 1.35-3 3-3S65 36.35 65 38zM53 38v35c0 1.65-1.35 3-3 3s-3-1.35-3-3V38c0-1.65 1.35-3 3-3S53 36.35 53 38zM41 38v35c0 1.65-1.35 3-3 3s-3-1.35-3-3V38c0-1.65 1.35-3 3-3S41 36.35 41 38zM77 24h-4l-1.835-3.058C70.442 19.737 69.14 19 67.735 19h-35.47c-1.405 0-2.707.737-3.43 1.942L27 24h-4c-1.657 0-3 1.343-3 3s1.343 3 3 3h54c1.657 0 3-1.343 3-3S78.657 24 77 24z"></path><path fill="#1f212b" d="M66.37 83H33.63c-3.116 0-5.744-2.434-5.982-5.54l-3.645-47.383 1.994-.154 3.645 47.384C29.801 79.378 31.553 81 33.63 81H66.37c2.077 0 3.829-1.622 3.988-3.692l3.645-47.385 1.994.154-3.645 47.384C72.113 80.566 69.485 83 66.37 83zM56 20c-.552 0-1-.447-1-1v-3c0-.552-.449-1-1-1h-8c-.551 0-1 .448-1 1v3c0 .553-.448 1-1 1s-1-.447-1-1v-3c0-1.654 1.346-3 3-3h8c1.654 0 3 1.346 3 3v3C57 19.553 56.552 20 56 20z"></path><path fill="#1f212b" d="M77,31H23c-2.206,0-4-1.794-4-4s1.794-4,4-4h3.434l1.543-2.572C28.875,18.931,30.518,18,32.265,18h35.471c1.747,0,3.389,0.931,4.287,2.428L73.566,23H77c2.206,0,4,1.794,4,4S79.206,31,77,31z M23,25c-1.103,0-2,0.897-2,2s0.897,2,2,2h54c1.103,0,2-0.897,2-2s-0.897-2-2-2h-4c-0.351,0-0.677-0.185-0.857-0.485l-1.835-3.058C69.769,20.559,68.783,20,67.735,20H32.265c-1.048,0-2.033,0.559-2.572,1.457l-1.835,3.058C27.677,24.815,27.351,25,27,25H23z"></path><path fill="#1f212b" d="M61.5 25h-36c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h36c.276 0 .5.224.5.5S61.776 25 61.5 25zM73.5 25h-5c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h5c.276 0 .5.224.5.5S73.776 25 73.5 25zM66.5 25h-2c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h2c.276 0 .5.224.5.5S66.776 25 66.5 25zM50 76c-1.654 0-3-1.346-3-3V38c0-1.654 1.346-3 3-3s3 1.346 3 3v25.5c0 .276-.224.5-.5.5S52 63.776 52 63.5V38c0-1.103-.897-2-2-2s-2 .897-2 2v35c0 1.103.897 2 2 2s2-.897 2-2v-3.5c0-.276.224-.5.5-.5s.5.224.5.5V73C53 74.654 51.654 76 50 76zM62 76c-1.654 0-3-1.346-3-3V47.5c0-.276.224-.5.5-.5s.5.224.5.5V73c0 1.103.897 2 2 2s2-.897 2-2V38c0-1.103-.897-2-2-2s-2 .897-2 2v1.5c0 .276-.224.5-.5.5S59 39.776 59 39.5V38c0-1.654 1.346-3 3-3s3 1.346 3 3v35C65 74.654 63.654 76 62 76z"></path><path fill="#1f212b" d="M59.5 45c-.276 0-.5-.224-.5-.5v-2c0-.276.224-.5.5-.5s.5.224.5.5v2C60 44.776 59.776 45 59.5 45zM38 76c-1.654 0-3-1.346-3-3V38c0-1.654 1.346-3 3-3s3 1.346 3 3v35C41 74.654 39.654 76 38 76zM38 36c-1.103 0-2 .897-2 2v35c0 1.103.897 2 2 2s2-.897 2-2V38C40 36.897 39.103 36 38 36z"></path>
                                    </svg>

                               </a>
                        </div>



                                    </span></td>

                            </tr>

                    <div id="modifierModal" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="closeModifierPopup()">&times;</span>
                            <div class="login-area message-area rn-section-gapTop">
                                <div class="container">
                                    <div class="row g-5">
{#                                        <div class="col-lg-6" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">#}
                                            <div class="connect-thumbnail">
                                                <div class="left-image">
                                                    <img src="assets/images/contact/contact1.png" alt="Nft_Profile" id="imageModifer" style="width: 50px; height: 50px;">
                                                </div>
                                            </div>
                                        </div>
{#                                        <div class="col-lg-6" data-sal="slide-up" data-sal-delay="200" data-sal-duration="800">#}
                                            <div class="form-wrapper-one registration-area">
                                                <h3 class="mb--30">Modifier votre post</h3>
                                                <form class="rwt-dynamic-form" id="contact-form" method="POST" action="mail.php">
                                                    <div class="mb-5">
                                                        <label for="captionModfier" class="form-label">Write Message</label>
                                                        <textarea name="captionModfier" id="captionModfier" rows="3"></textarea>
                                                    </div>
                                                    <div class="button-area mb-5">
                                                        <div class="brows-file-wrapper">
                                                            <label for="nipa" class="form-label">Upload an image</label>
                                                            <!-- actual upload which is hidden -->
                                                            <input name="nipaUpload" id="nipaUpload" type="file">
                                                            <!-- our custom upload button -->
                                                            <label for="nipaUpload" title="No File Choosen">
                                                                <span class="text-center color-white">Upload Cover</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <button name="submit" type="submit" class="btn btn-primary" onclick="submitModifierForm(event)">Modifier</button>
                                                </form>
                                            </div>
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>


                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- table End -->
                    <div class="row">
                        <div class="col-lg-12" data-sal="slide-up" data-sal-delay="550" data-sal-duration="800">
                            <nav class="pagination-wrapper" aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Start Footer Area -->
    <div class="rn-footer-one rn-section-gap bg-color--1">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="widget-content-wrapper">
                        <div class="footer-left">
                            <div class="logo-thumbnail logo-custom-css">
                                <a class="logo-light" href="index.html"><img src="assets/images/logo/logo-white.png" alt="nft-logo"></a>
                                <a class="logo-dark" href="index.html"><img src="assets/images/logo/logo-dark.png" alt="nft-logo"></a>
                            </div>
                            <p class="rn-footer-describe">
                                Created with the collaboration of over 60 of the world's best Nuron Artists.
                            </p>
                        </div>
                        <div class="widget-bottom mt--40 pt--40">
                            <h6 class="title">Get The Latest Nuron Updates </h6>
                            <div class="input-group">
                                <input type="text" class="form-control bg-color--2" placeholder="Your username" aria-label="Recipient's username">
                                <div class="input-group-append">
                                    <button class="btn btn-primary-alta btn-outline-secondary" type="button">Subscribe</button>
                                </div>
                            </div>
                            <div class="newsletter-dsc">
                                <p>Email is safe. We don't spam.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_mobile--40">
                    <div class="footer-widget widget-quicklink">
                        <h6 class="widget-title">Nuron</h6>
                        <ul class="footer-list-one">
                            <li class="single-list"><a href="#">Protocol Explore</a></li>
                            <li class="single-list"><a href="#">System Token</a></li>
                            <li class="single-list"><a href="#">Otimize Time</a></li>
                            <li class="single-list"><a href="#">Visual Checking</a></li>
                            <li class="single-list"><a href="#">Fadeup System</a></li>
                            <li class="single-list"><a href="#">Activity Log</a></li>
                            <li class="single-list"><a href="#">System Auto Since</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_md--40 mt_sm--40">
                    <div class="footer-widget widget-information">
                        <h6 class="widget-title">Information</h6>
                        <ul class="footer-list-one">
                            <li class="single-list"><a href="#">Market Explore</a></li>
                            <li class="single-list"><a href="#">Ready Token</a></li>
                            <li class="single-list"><a href="#">Main Option</a></li>
                            <li class="single-list"><a href="#">Product Checking</a></li>
                            <li class="single-list"><a href="blog.html">Blog Grid</a></li>
                            <li class="single-list"><a href="about.html">About Us</a></li>
                            <li class="single-list"><a href="#">Fix Bug </a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_md--40 mt_sm--40">
                    <div class="footer-widget">
                        <h6 class="widget-title">Recent Sold Out</h6>
                        <ul class="footer-recent-post">
                            <li class="recent-post">
                                <div class="thumbnail">
                                    <a href="product-details.html">
                                        <img src="assets/images/portfolio/portfolio-01.jpg" alt="Product Images">
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title"><a href="product-details.html">#21 The Wonder</a></h6>
                                    <p>Highest bid 1/20</p>
                                    <span class="price">0.244wETH</span>
                                </div>
                            </li>
                            <li class="recent-post">
                                <div class="thumbnail">
                                    <a href="product-details.html">
                                        <img src="assets/images/portfolio/portfolio-02.jpg" alt="Product Images">
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title"><a href="product-details.html">Diamond Dog</a></h6>
                                    <p>Highest bid 1/20</p>
                                    <span class="price">0.022wETH</span>
                                </div>
                            </li>
                            <li class="recent-post">
                                <div class="thumbnail">
                                    <a href="product-details.html">
                                        <img src="assets/images/portfolio/portfolio-03.jpg" alt="Product Images">
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="title"><a href="product-details.html">Morgan11</a></h6>
                                    <p>Highest bid 1/20</p>
                                    <span class="price">0.892wETH</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="copy-right-one ptb--20 bg-color--1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="copyright-left">
                        <span>©2022 Nuron, Inc. All rights reserved.</span>
                        <ul class="privacy">
                            <li><a href="terms-condition.html">Terms</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="copyright-right">
                        <ul class="social-copyright">
                            <li><a href="#"><i data-feather="facebook"></i></a></li>
                            <li><a href="#"><i data-feather="twitter"></i></a></li>
                            <li><a href="#"><i data-feather="instagram"></i></a></li>
                            <li><a href="#"><i data-feather="linkedin"></i></a></li>
                            <li><a href="#"><i data-feather="mail"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Footer Area -->
    <style>
        /* Styles pour la modal */
        .modal {
            display: none; /* Masquer la modal par défaut */
            position: fixed; /* Positionnement fixe pour rester au centre */
            left: 0;
            top: 0;
            width: 100%; /* Pleine largeur */
            height: 100%; /* Pleine hauteur */
            overflow: auto; /* Activer le défilement si nécessaire */
            background-color: rgba(0,0,0,0.4); /* Fond semi-transparent */
        }

        .modal-content {
            overflow: auto; /* Empêche le défilement */
            width: 80%; /* Ajustez la largeur selon vos besoins */
            height: 80%; /* Ajustez la hauteur selon vos besoins */
            background-color: #1d1d26; /* Couleur de fond */
            margin: auto; /* Centrez horizontalement */
            padding: 20px;
            border: 1px solid #888;
            border-radius: 10px;
            position: relative; /* Position relative pour centrer verticalement */
            top: 50%; /* Déplacez la moitié de la hauteur de la modal vers le haut */
            transform: translateY(-50%); /* Ajustez pour centrer verticalement */
        }
        .close {
            font-size:
                    30px; /* Choisissez la taille souhaitée */
        }
    </style>

    <script>
        function deletePost(abonnementId) {
            if (confirm("Êtes-vous sûr de vouloir supprimer cet abonnement ?")) {
                $.ajax({
                    url: '/showAbonnement/' + abonnementId,
                    type: 'DELETE',
                    success: function(response) {
                        // Recharger la liste des abonnements après la suppression réussie
                        $('#abonnements-list').load('/showAbonnement');
                    },
                    error: function(xhr, status, error) {
                        // Gérer les erreurs en fonction de vos besoins
                        console.error(error);
                    }
                });
            }
        }

        // function deletePost(postId) {
        //     if (confirm("Êtes-vous sûr de vouloir supprimer ce post ?" + postId)) {
        //         $.ajax({
        //             url: '/showAbonnement/' + postId,
        //             type: 'DELETE',
        //             success: function(response) {
        //                 location.reload();
        //             },
        //             error: function(xhr, status, error) {
        //                 // Gérer les erreurs en fonction de vos besoins
        //                 console.error(error);
        //             }
        //         });
        //     }
        // }

        function showModifierPopup( ) {
            var modal = document.getElementById("modifierModal");

            let messageTextarea = document.getElementById("captionModfier");
            let imageModifier = document.getElementById("imageModifer");
              messageTextarea.value = "aaaa";
             // imageModifier.src = "images/blog/" + image;


            modal.style.display = "block";
            form.reset();
        }


        function closeModifierPopup() {
            // Récupérer la fenêtre modale
            var modal = document.getElementById("modifierModal");
            modal.style.display = "none";
        }

        function submitModifierForm(event, idPost) {
            event.preventDefault();
            let formData = new FormData();
            let caption = $('#contact-messageUpload').val();
            formData.append('image', $('#nipaUpload').prop('files')[0]);
            formData.append('caption', caption);

            $.ajax({

                url: '/blog/edit/' + idPost,
                type: "POST",
                data: formData,

                async: true,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response.state);
                    $('#contact-message').val('');
                    $('#nipa').val('');
                },
                error: function (response) {
                    console.log("error");
                },
            });
            closeModifierPopup();
        }

    </script>

{% endblock %}