{% extends 'base.html.twig' %}


{% block stylesheets_wtf1 %}
    <link rel="stylesheet" href="{{ asset('css/wtf.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}"/>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/detials.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user_dashboard.js') }}"></script>
    <script src="{{ asset('js/product.js') }}"></script>
    <script src="{{ asset('js/loader.js') }}"></script>
    <script src="{{ asset('js/details.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="rn-author-bg-area bg_image--9 bg_image ptb--150">
        <div class="container">
            <div class="row"></div>
        </div>
    </div>

    <div class="rn-author-area mb--30 mt_dec--120">
        <div class="container">
            <div class="row padding-tb-50 align-items-center d-flex">
                <div class="col-lg-12">
                    <div class="author-wrapper">
                        <div class="author-inner">
                            <div class="user-thumbnail">
                                <img src="{{ asset('marketPlaceImages/banner-06.png') }}" alt=""/>
                            </div>
                            <div class="rn-author-info-content">
                                <h4 class="title">MRS SUNAYRA AHSAN</h4>
                                <a href="#" class="social-follw">
                                    <i data-feather="twitter"></i>
                                    <span class="user-name">it0bsession</span>
                                </a>
                                <div class="follow-area">
                                    <div class="follow followers">
                      <span
                      >186k <a href="#" class="color-body">followers</a></span
                      >
                                    </div>
                                    <div class="follow following">
                      <span
                      >156 <a href="#" class="color-body">following</a></span
                      >
                                    </div>
                                </div>
                                <div class="author-button-area">
                    <span class="btn at-follw follow-button"
                    ><i data-feather="user-plus"></i> Follow</span
                    >
                                    <span
                                            class="btn at-follw share-button"
                                            data-bs-toggle="modal"
                                            data-bs-target="#shareModal"
                                    ><i data-feather="share-2"></i
                                        ></span>
                                    <div class="count at-follw">
                                        <div class="share-btn share-btn-activation dropdown">
                                            <button
                                                    class="icon"
                                                    type="button"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false"
                                            >
                                                <svg
                                                        viewBox="0 0 14 4"
                                                        fill="none"
                                                        width="16"
                                                        height="16"
                                                        class="sc-bdnxRM sc-hKFxyN hOiKLt"
                                                >
                                                    <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z"
                                                            fill="currentColor"
                                                    ></path>
                                                </svg>
                                            </button>

                                            <div
                                                    class="share-btn-setting dropdown-menu dropdown-menu-end"
                                            >
                                                <button
                                                        type="button"
                                                        class="btn-setting-text report-text"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#reportModal"
                                                >
                                                    Report
                                                </button>
                                                <button
                                                        type="button"
                                                        class="btn-setting-text report-text"
                                                >
                                                    Claim Owenership
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <a
                                            href="edit-profile.html"
                                            class="btn at-follw follow-button edit-btn"
                                    ><i data-feather="edit"></i
                                        ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rn-authore-profile-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab-wrapper-one">
                        <nav class="tab-button-one">
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button
                                        class="nav-link active"
                                        id="nav-home-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#nav-home"
                                        type="button"
                                        role="tab"
                                        aria-controls="nav-home"
                                        aria-selected="true"
                                >
                                    On Sale
                                </button>
                                <button
                                        class="nav-link"
                                        id="nav-profile-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#nav-profile"
                                        type="button"
                                        role="tab"
                                        aria-controls="nav-profile"
                                        aria-selected="false"
                                >
                                    Owned
                                </button>
                                <button
                                        class="nav-link"
                                        id="nav-contact-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#nav-contact"
                                        type="button"
                                        role="tab"
                                        aria-controls="nav-contact"
                                        aria-selected="false"
                                >
                                    Created
                                </button>
                                <button
                                        class="nav-link"
                                        id="nav-unverified-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#nav-unverified"
                                        type="button"
                                        role="tab"
                                        aria-controls="nav-unverified"
                                        aria-selected="false"
                                >
                                    Unverified
                                </button>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="tab-content rn-bid-content" id="nav-tabContent">

                <div class="tab-pane row g-5 d-flex fade show active" id="nav-home" role="tabpanel"
                     aria-labelledby="nav-home-tab">
                    <div class="rn-new-items ">
                        <div class="container " style="margin-top: 10px;margin-bottom: 100px" >
                            <div class="woocommerce-notices-wrapper" id="notification_box">

                            </div>
                            <div id="sub-on_sale-block" class="row g-5">
                                <!-- start single product -->
                                {% include 'user_dashboard/sub_onsale_products.html.twig' with { 'products': on_sale.getNProducts(10),'underverif': false,'type':'on_sale'} %}
                                <!-- end single product -->
                            </div>
                        </div>
                    </div>
                    {% if on_sale.getNbrPages() >= 2 %}
                    <nav class="pagination-wrapper" aria-label="Page navigation example">
                        <ul class="pagination single-column-blog">
                            <li class="page-item">
                                <a class="page-link" onclick="DisplayListProducts4Owner('previous','on_sale')">Previous</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link active" onclick="DisplayListProducts4Owner(1,'on_sale')" id="on_sale-page-1">1</a>
                            </li>
                            {% for i in 2..on_sale.getNbrPages() %}
                            <li class="page-item">
                                <a class="page-link" onclick="DisplayListProducts4Owner({{ i }},'on_sale')"
                                   id="on_sale-page-{{ i }}">{{ i }}</a>
                            </li>
                            {% endfor %}
                            <li class="page-item">
                                <a class="page-link" onclick="DisplayListProducts4Owner('next','on_sale')">Next</a>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                </div>
                <div class="tab-pane row g-5 d-flex fade" id="nav-profile" role="tabpanel"
                     aria-labelledby="nav-profile-tab">
                    <!-- start single product -->
                    <!-- end single product -->
                </div>
                <div class="tab-pane row g-5 d-flex fade" id="nav-contact" role="tabpanel"
                     aria-labelledby="nav-contact-tab">
                    <!-- start single product -->
                    <!-- end single product -->
                </div>
                <div class="tab-pane row g-5 d-flex fade" id="nav-unverified" role="tabpanel"
                     aria-labelledby="nav-unverified-tab">
                    <div class="rn-new-items rn-section-gapTop">
                        <div class="container" >
                            <div id="sub-unverified-block" class="row g-5">
                                <!-- start single product -->
                                {% include 'user_dashboard/sub_onsale_products.html.twig' with { 'products': unverified.getNProducts(10),'underverif':true,'type':'unverified'} %}
                                <!-- end single product -->
                            </div>
                        </div>
                    </div>
                    {% if unverified.getNbrPages() >= 2 %}
                        <nav class="pagination-wrapper" aria-label="Page navigation example"  style="margin-top: 10px;margin-bottom: 100px">
                            <ul class="pagination single-column-blog">
                                <li class="page-item">
                                    <a class="page-link" onclick="DisplayListProducts4Owner('previous','unverified')">Previous</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link active" onclick="DisplayListProducts4Owner(1,'unverified')" id="unverified-page-1">1</a>
                                </li>
                                {% for i in 2..unverified.getNbrPages() %}
                                    <li class="page-item">
                                        <a class="page-link" onclick="DisplayListProducts4Owner({{ i }},'unverified')"
                                           id="unverified-page-{{ i }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                                <li class="page-item">
                                    <a class="page-link" onclick="DisplayListProducts4Owner('next','unverified')">Next</a>
                                </li>
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div
            class="rn-popup-modal report-modal-wrapper modal fade"
            id="reportModal"
            tabindex="-1"
            aria-hidden="true"
    >
        <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
        >
            <i data-feather="x"></i>
        </button>
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content report-content-wrapper" style="padding: 40px 20px 10px 20px !important;">
                    <div class="modal-header report-modal-header align-self-center">
                        <h4 class="modal-title">Security Check Completed</h4>
                    </div>
                <div class="modal-body overflow-hidden align-content-center">
                    <section>
                        <details>
                            <summary>Details</summary>
                            <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis sit autem cupiditate eaque blanditiis vero quidem aperiam quasi aspernatur error dolor, et, consequatur eius amet dignissimos laboriosam recusandae tempora suscipit.</div>
                        </details>
                        <details>
                            <summary>Details</summary>
                            <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis sit autem cupiditate eaque blanditiis vero quidem aperiam quasi aspernatur error dolor, et, consequatur eius amet dignissimos laboriosam recusandae tempora suscipit.</div>
                        </details>
                    </section>
                </div>
                <div class="report-form-box mt-4">
                        <div class="d-flex gap-2 justify-content-end me-0">
                            <button type="button" class="btn btn-primary-alta  w-auto">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                            <button
                                    type="button"
                                    class="btn btn-primary-alta w-auto"
                                    data-bs-dismiss="modal"
                            >
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div
            class="rn-popup-modal report-modal-wrapper modal fade"
            id="reportModald"
            tabindex="-1"
            aria-hidden="true"
    >
        <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
        >
            <i data-feather="x"></i>
        </button>
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content report-content-wrapper">
                <div class="modal-header report-modal-header align-self-center">
                    <h2 class="modal-title" style="color: #2899d8">Security Check</h2>
                </div>
                <div class="modal-body overflow-hidden align-content-center">
                    <p>
                        This Product Is Currently Under AI Verification To Check It's Compatibility With Our Terms
                        <i class="fa-regular fa-face-smile-beam ms-4" style="color: #2899d8;font-size: 20px;"></i>
                        <i class="fa-regular fa-face-smile-beam ms-1" style="color: #2899d8;font-size: 20px;"></i>
                    </p>
                    <!--{#<div class="report-form-box">
                        <h6 class="title">Message</h6>
                        <textarea name="message" placeholder="Write issues"></textarea>
                        <div class="report-button">
                            <button type="button" class="btn btn-primary mr&#45;&#45;10 w-auto">
                                Report
                            </button>
                            <button
                                    type="button"
                                    class="btn btn-primary-alta w-auto"
                                    data-bs-dismiss="modal"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>#}-->
                    <div class="aiverif">
                        <div class="profile-share">
                            <img
                                    src="{{ asset('marketPlaceImages/t9gQ2ptYYn.gif') }}"
                                    alt="Nft_Profile"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
