{% for i,product in products %}
    <!-- start single product -->
    <div class="col-5 col-lg-4 col-md-6 col-sm-6 col-12 " id="product_at_index_{{ i }}">
        <div class="product-style-one no-overlay">
            <div class="card-thumbnail ">
                <a href="../pages/product-details.html">
                    {% if product.images|length > 1 %}
                        <!-- Swiper -->
                        <div class="swiper effect-creative-swiper rounded">
                            <div class="swiper-wrapper">
                                {% for image in product.images %}
                                    <div class="swiper-slide">
                                        <a href="#"
                                           onclick="document.getElementById('form_details_{{ type }}_{{ i }}').submit(); return false;">
                                            <img src="{{ asset(image.path)|default("Not available") }}"
                                                 alt="NFT_portfolio"
                                                 class="fixedImagesSize4owner"/>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    {% else %}
                        <div>
                            <a href="#"
                               onclick="document.getElementById('form_details_{{ type }}_{{ i }}').submit(); return false;">
                                <img src="{{ asset(product.images[0].path) }}"
                                     alt="NFT_portfolio"
                                     class="fixedImagesSize4owner"
                                >
                            </a>
                        </div>
                    {% endif %}
                </a>
                {% if underverif %}
                        {% if aiResult[i] is defined %}
                            {% if aiResult[i].idProduct == product.idProduct %}
                                <div class="countdown" data-date="{{ aiResult[i].getTerminationDateDate() }}"
                                     data-time="{{ aiResult[i].getTerminationDateTime() }}"
                                     data-value="{{ product.iDProduct }}:{{ i }}">
                                </div>
                            {% endif %}
                        {% endif %}
                {% endif %}
                <div class="rbt-quick-action--btns">
                    {% if underverif %}
                        <div
                                class="quickview--box"
                                data-bs-toggle="tooltip"
                                data-bs-placement="right"
                                title="Details">
                            <a
                                    href="javascript: void(0);"
                                    onclick="showModelUnverfied({{ product.idProduct }},{{ i }},{{ type|json_encode }})"
                                    class="yith-wcqv-button"
                                    data-product_id="793"
                            >
                                <i class="fa-solid fa-info"></i>
                            </a>
                        </div>
                        <div
                                class="quickview--box"
                                data-bs-toggle="tooltip"
                                data-bs-placement="right"
                                title="Buy"

                        >

                            <a
                                    onclick="deleteProduct({{ product.idProduct }},{{ i }},{{ type|json_encode }})"
                                    class="yith-wcqv-button"
                            >
                                <i class="fa-regular fa-trash-can" style="font-size: 14px"></i>
                            </a>

                        </div>
                    {% else %}
                        <div
                                class="quickview--box"
                                data-bs-toggle="tooltip"
                                data-bs-placement="right"
                                title="Contact Seller">
                            <a
                                    href="#"
                                    onclick="document.getElementById('form_update_{{ type }}_{{ i }}').submit(); return false;"
                                    class="yith-wcqv-button"
                                    data-product_id="793"
                            >
                                <i class="fa-solid fa-pen-to-square" style="font-size: 14px"></i>
                            </a>
                        </div>
                        <div
                                class="quickview--box"
                                data-bs-toggle="tooltip"
                                data-bs-placement="right"
                                title="Buy"

                        >

                            <a
                                    onclick="deleteProduct({{ product.idProduct }},{{ i }},{{ type|json_encode }})"
                                    class="yith-wcqv-button"
                            >
                                <i class="fa-regular fa-trash-can" style="font-size: 14px"></i>
                            </a>

                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="product-share-wrapper">

            </div>

            <a href="../pages/product-details.html">
                <h2 id="name_model" class="product-name" style="margin: 4px 0 !important;font-size: 30px">{{ product.name|capitalize }}</h2>
            </a>

            <span class="latest-bid" >
                    <span class="latest-bid " style="margin-top: 4px !important;">Quantity : {{ product.quantity }} Pieces</span>
                    <br>
                    <span class="latest-bid">Category : {{ product.category|capitalize }}</span>
            </span>
            <div class="bid-react-area m-0 " >
                {% if product.quantity > 0 %}
                    <div class="last-bid mt-3 " id="">
                        In Stock
                    </div>
                {% else %}
                    <div class="last-bid mt-3 " style="color: #a81515" id="">
                        Out Of Stock
                    </div>

                {% endif %}
                <div class="last-bid mt-3 " id="price_model" >{{ product.price }} DT</div>
            </div>

        </div>

        <form id="form_details_{{ type }}_{{ i }}" method="post"
              action="{{ path('app_product_product_details',{'index': i }) }}">
            <input type="hidden" name="_token_{{ i }}"
                   value="{{ product.idProduct }}">
        </form>

        <form id="form_update_{{ type }}_{{ i }}" method="post"
              action="{{ path('app_product_edit',{'index': i }) }}">
            <input type="hidden" name="_token_{{ i }}"
                   value="{{ product.idProduct }}">
        </form>
    </div>



    <!-- end single product -->
{% endfor %}


