{% extends 'base.html.twig' %}


{% block stylesheets_wtf1 %}
    <link rel="stylesheet" href="{{ asset('css/wtf.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user_dashboard.js') }}"></script>
    <script src="{{ asset('js/product.js') }}"></script>
    <script src="{{ asset('js/loader.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="popup-mobile-menu">
        <div class="inner">
            <div class="header-top">
                <div class="logo logo-custom-css">
                    <a class="logo-light" href="index.html"
                    ><img
                                src="../../assets/images/logo/logo-white.png"
                                alt="nft-logo"
                        /></a>
                    <a class="logo-dark" href="index.html"
                    ><img src="../../assets/images/logo/logo-dark.png" alt="nft-logo"
                        /></a>
                </div>
                <div class="close-menu">
                    <button class="close-button">
                        <i class="feather-x"></i>
                    </button>
                </div>
            </div>
            <nav>
                <!-- Start Mainmanu Nav -->
                <ul class="mainmenu">
                    <li class="has-droupdown">
                        <a class="nav-link its_new" href="#">Home</a>
                        <ul class="submenu">
                            <li>
                                <a href="index.html"
                                >Home page - 01 <i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-two.html"
                                >Home page - 02<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-three.html"
                                >Home page - 03<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-four.html"
                                >Home page - 04<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-five.html"
                                >Home page - 05<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-six.html"
                                >Home page - 06<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-seven.html"
                                >Home page - 07<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-eight.html"
                                >Home page - 08<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-nine.html"
                                >Home page - 09<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-ten.html"
                                >Home page - 10<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-eleven.html"
                                >Home page - 11<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-twelve.html"
                                >Home page - 12<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-thirteen.html"
                                >Home page - 13<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-fourteen.html"
                                >Home page - 14<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-fifteen.html"
                                >Home page - 15<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-sixteen.html"
                                >Home page - 16<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-seventeen.html"
                                >Home page - 17<i class="feather-home"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="index-eighteen.html"
                                >Home page - 18<i class="feather-home"></i
                                    ></a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li class="has-droupdown">
                        <a class="nav-link its_new" href="#">Explore</a>
                        <ul class="submenu">
                            <li>
                                <a href="explore-one.html"
                                >Explore Filter<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="explore-two.html"
                                >Explore Isotop<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="explore-three.html"
                                >Explore Carousel<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="explore-four.html"
                                >Explore Simple<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="explore-five.html"
                                >Explore Place Bid<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="explore-six.html"
                                >Place Bid With Filter<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="explore-seven.html"
                                >Place Bid With Isotop<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="explore-eight.html"
                                >Place Bid With Carousel<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="explore-list-style.html"
                                >Explore Style List<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="explore-list-column-two.html"
                                >Explore List Col-Two<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="../market_place/market.html.twig"
                                >Explore Left Filter<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a class="live-expo" href="explore-live.html">Live Explore</a>
                            </li>
                            <li>
                                <a class="live-expo" href="explore-live-two.html"
                                >Live Explore Carousel</a
                                >
                            </li>
                            <li>
                                <a class="live-expo" href="explore-live-three.html"
                                >Live With Place Bid</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="with-megamenu">
                        <a class="nav-link its_new" href="#">Pages</a>
                        <div class="rn-megamenu">
                            <div class="wrapper">
                                <div class="row row--0">
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li>
                                                <a href="create.html"
                                                >Create NFT<i data-feather="file-plus"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="upload-variants.html"
                                                >Upload Type<i data-feather="layers"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="activity.html"
                                                >Activity<i data-feather="activity"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="creator.html"
                                                >Creators<i data-feather="users"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="collection.html"
                                                >Our Collection<i data-feather="package"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="upcoming_projects.html"
                                                >Upcoming Projects<i data-feather="loader"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="create-collection.html"
                                                >Create Collection<i data-feather="edit-3"></i
                                                    ></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li>
                                                <a href="login.html"
                                                >Log In <i data-feather="log-in"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="sign-up.html"
                                                >Registration <i data-feather="user-plus"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="forget.html"
                                                >Forget Password <i data-feather="key"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="author.html"
                                                >Author/Profile(User) <i data-feather="user"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="connect.html"
                                                >Connect to Wallet <i data-feather="pocket"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="privacy-policy.html"
                                                >Privacy Policy <i data-feather="file-text"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="newsletter.html"
                                                >Newsletter<i data-feather="book-open"></i
                                                    ></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li>
                                                <a href="product.html"
                                                >Product<i data-feather="folder"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="product-details.html"
                                                >Product Details <i data-feather="layout"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="ranking.html"
                                                >NFT Ranking<i data-feather="trending-up"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="blog.html"
                                                >Our News <i data-feather="message-square"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="blog-details.html"
                                                >Blog Details<i data-feather="book-open"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="404.html"
                                                >404 <i data-feather="alert-triangle"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="forum-community.html"
                                                >Forum & Community<i
                                                            data-feather="message-circle"
                                                    ></i
                                                    ></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 single-mega-item">
                                        <ul class="mega-menu-item">
                                            <li>
                                                <a href="about.html"
                                                >About Us<i data-feather="award"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="contact.html"
                                                >Contact <i data-feather="headphones"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="support.html"
                                                >Support/FAQ <i data-feather="help-circle"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="terms-condition.html"
                                                >Terms & Condition <i data-feather="list"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="coming-soon.html"
                                                >Coming Soon <i data-feather="clock"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="maintenance.html"
                                                >Maintenance <i data-feather="cpu"></i
                                                    ></a>
                                            </li>
                                            <li>
                                                <a href="forum-details.html"
                                                >Forum Details <i data-feather="message-circle"></i
                                                    ></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-droupdown has-menu-child-item">
                        <a class="nav-link its_new" href="blog.html">Blog</a>
                        <ul class="submenu">
                            <li>
                                <a href="blog-single-col.html"
                                >Blog Single Column<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="blog-col-two.html"
                                >Blog Two Column<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="blog-col-three.html"
                                >Blog Three Column<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="blog.html"
                                >Blog Four Column<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                            <li>
                                <a href="blog-details.html"
                                >Blog Details<i class="feather-fast-forward"></i
                                    ></a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <!-- End Mainmanu Nav -->
            </nav>
        </div>
    </div>
    <!-- start page title area -->
    <div class="rn-breadcrumb-inner ptb--30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <h5 class="title text-center text-md-start">
                        My Products
                    </h5>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-list">
                        <li class="item"><a href="index.html">Home</a></li>
                        <li class="separator"><i class="feather-chevron-right"></i></li>
                        <li class="item current">Explore Style Column Two</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title area -->

    <!-- Start Tab Product area -->
    <div class="rn-product-area rn-section-gapTop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center mb--50">OUR All NFT'S</h2>
                    <nav class="product-tab-nav">
                        <div class="nav" id="nav-tabs" role="tablist">
                            <button
                                    class="nav-link active"
                                    id="nav-home-main-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-home-main"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-home-main"
                                    aria-selected="true"
                            >
                                All Product
                            </button>
                            <button
                                    class="nav-link"
                                    id="nav-profile-02-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-profile-02"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-profile-02"
                                    aria-selected="false"
                            >
                                Newest Item
                            </button>
                            <button
                                    class="nav-link"
                                    id="nav-contact-03-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-contact-03"
                                    type="button"
                                    role="tab"
                                    aria-controls="nav-contact-03"
                                    aria-selected="false"
                            >
                                Rare Reals
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContens">
                        <div
                                class="tab-pane lg-product_tab-pane lg-product-col-2 fade show active"
                                id="nav-home-main"
                                role="tabpanel"
                                aria-labelledby="nav-home-main-tab"
                        >
                            {% include 'new_user_dashboard/sigleProduct.html.twig' with { 'products': on_sale.getNProducts(10),'underverif': false,'type':'on_sale'} %}
                        </div>
                        <div
                                class="tab-pane lg-product_tab-pane lg-product-col-2 fade"
                                id="nav-profile-02"
                                role="tabpanel"
                                aria-labelledby="nav-profile-02-tab"
                        >
                            <!-- start single product -->
                            <div
                                    class="lg-product-wrapper colum-2 two-colum-parent-product col-lg-6"
                            >
                                <div class="inner">
                                    <div class="lg-left-content">
                                        <a href="product-details.html" class="thumbnail">
                                            <img
                                                    src="../../assets/images/portfolio/portfolio-08.jpg"
                                                    alt="Nft_Portfolio"
                                            />
                                        </a>
                                        <div class="read-content">
                                            <div class="product-share-wrapper">
                                                <!-- all bids -->
                                                <div class="profile-share">
                                                    <a
                                                            href="author.html"
                                                            class="avatar"
                                                            data-tooltip="Farik Shaikh"
                                                            tabindex="0"
                                                    ><img
                                                                src="../../assets/images/client/client-1.png"
                                                                alt="Nft_Profile"
                                                        /></a>
                                                    <a
                                                            href="author.html"
                                                            class="avatar"
                                                            data-tooltip="Shaikh"
                                                            tabindex="0"
                                                    ><img
                                                                src="../../assets/images/client/client-6.png"
                                                                alt="Nft_Profile"
                                                        /></a>
                                                    <a
                                                            href="author.html"
                                                            class="avatar"
                                                            data-tooltip="Farik"
                                                            tabindex="0"
                                                    ><img
                                                                src="../../assets/images/client/client-8.png"
                                                                alt="Nft_Profile"
                                                        /></a>
                                                    <a class="more-author-text" href="#" tabindex="0"
                                                    >15+ Place Bit.</a
                                                    >
                                                </div>
                                                <!-- all bids End-->
                                                <div class="last-bid">0.244wETH</div>
                                            </div>
                                            <a href="product-details.html">
                                                <h6 class="title">New Dod Glitter Worlds</h6>
                                            </a>
                                            <span class="latest-bid">Highest bid 1/20</span>
                                            <div class="share-wrapper d-flex">
                                                <!-- react area -->
                                                <div class="react-area mr--15">
                                                    <svg
                                                            viewBox="0 0 17 16"
                                                            fill="none"
                                                            width="16"
                                                            height="16"
                                                            class="sc-bdnxRM sc-hKFxyN kBvkOu"
                                                    >
                                                        <path
                                                                d="M8.2112 14L12.1056 9.69231L14.1853 7.39185C15.2497 6.21455 15.3683 4.46116 14.4723 3.15121V3.15121C13.3207 1.46757 10.9637 1.15351 9.41139 2.47685L8.2112 3.5L6.95566 2.42966C5.40738 1.10976 3.06841 1.3603 1.83482 2.97819V2.97819C0.777858 4.36443 0.885104 6.31329 2.08779 7.57518L8.2112 14Z"
                                                                stroke="currentColor"
                                                                stroke-width="2"
                                                        ></path>
                                                    </svg>
                                                    <span class="number">65</span>
                                                </div>
                                                <!-- end -->
                                                <!-- share area -->
                                                <div class="share-btn share-btn-activation dropdown">
                                                    <button
                                                            class="icon"
                                                            data-bs-toggle="dropdown"
                                                            aria-expanded="false"
                                                            tabindex="0"
                                                    >
                                                        <svg
                                                                viewBox="0 0 14 4"
                                                                fill="none"
                                                                width="16"
                                                                height="16"
                                                                class="sc-bdnxRM sc-hKFxyN hOiKLt"
                                                        >
                                                            <path
                                                                    fill-rule="evenodd"
                                                                    clip-rule="evenodd"
                                                                    d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z"
                                                                    fill="currentColor"
                                                            ></path>
                                                        </svg>
                                                    </button>
                                                    <div
                                                            class="share-btn-setting dropdown-menu dropdown-menu-end"
                                                    >
                                                        <button
                                                                type="button"
                                                                class="btn-setting-text share-text"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#shareModal"
                                                                tabindex="0"
                                                        >
                                                            Share
                                                        </button>
                                                        <button
                                                                type="button"
                                                                class="btn-setting-text report-text"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#reportModal"
                                                                tabindex="0"
                                                        >
                                                            Report
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- sharea End -->
                                            </div>
                                        </div>
                                    </div>
                                    <button
                                            type="button"
                                            class="btn btn-primary-alta"
                                            data-bs-toggle="modal"
                                            data-bs-target="#placebidModal"
                                    >
                                        Place a Bid
                                    </button>
                                </div>
                            </div>
                            <!-- End single product -->

                        </div>
                        <div
                                class="tab-pane lg-product_tab-pane lg-product-col-2 fade"
                                id="nav-contact-03"
                                role="tabpanel"
                                aria-labelledby="nav-contact-03-tab"
                        >
                            <!-- start single product -->
                            <div
                                    class="lg-product-wrapper colum-2 two-colum-parent-product col-lg-6"
                            >
                                <div class="inner">
                                    <div class="lg-left-content">
                                        <a href="product-details.html" class="thumbnail">
                                            <img
                                                    src="../../assets/images/portfolio/portfolio-11.jpg"
                                                    alt="Nft_Portfolio"
                                            />
                                        </a>
                                        <div class="read-content">
                                            <div class="product-share-wrapper">
                                                <!-- all bids -->
                                                <div class="profile-share">
                                                    <a
                                                            href="author.html"
                                                            class="avatar"
                                                            data-tooltip="Farik Shaikh"
                                                            tabindex="0"
                                                    ><img
                                                                src="../../assets/images/client/client-1.png"
                                                                alt="Nft_Profile"
                                                        /></a>
                                                    <a
                                                            href="author.html"
                                                            class="avatar"
                                                            data-tooltip="Shaikh"
                                                            tabindex="0"
                                                    ><img
                                                                src="../../assets/images/client/client-6.png"
                                                                alt="Nft_Profile"
                                                        /></a>
                                                    <a
                                                            href="author.html"
                                                            class="avatar"
                                                            data-tooltip="Farik"
                                                            tabindex="0"
                                                    ><img
                                                                src="../../assets/images/client/client-8.png"
                                                                alt="Nft_Profile"
                                                        /></a>
                                                    <a class="more-author-text" href="#" tabindex="0"
                                                    >15+ Place Bit.</a
                                                    >
                                                </div>
                                                <!-- all bids End-->
                                                <div class="last-bid">0.244wETH</div>
                                            </div>
                                            <a href="product-details.html">
                                                <h6 class="title">New Dod Glitter Worlds</h6>
                                            </a>
                                            <span class="latest-bid">Highest bid 1/20</span>
                                            <div class="share-wrapper d-flex">
                                                <!-- react area -->
                                                <div class="react-area mr--15">
                                                    <svg
                                                            viewBox="0 0 17 16"
                                                            fill="none"
                                                            width="16"
                                                            height="16"
                                                            class="sc-bdnxRM sc-hKFxyN kBvkOu"
                                                    >
                                                        <path
                                                                d="M8.2112 14L12.1056 9.69231L14.1853 7.39185C15.2497 6.21455 15.3683 4.46116 14.4723 3.15121V3.15121C13.3207 1.46757 10.9637 1.15351 9.41139 2.47685L8.2112 3.5L6.95566 2.42966C5.40738 1.10976 3.06841 1.3603 1.83482 2.97819V2.97819C0.777858 4.36443 0.885104 6.31329 2.08779 7.57518L8.2112 14Z"
                                                                stroke="currentColor"
                                                                stroke-width="2"
                                                        ></path>
                                                    </svg>
                                                    <span class="number">65</span>
                                                </div>
                                                <!-- end -->
                                                <!-- share area -->
                                                <div class="share-btn share-btn-activation dropdown">
                                                    <button
                                                            class="icon"
                                                            data-bs-toggle="dropdown"
                                                            aria-expanded="false"
                                                            tabindex="0"
                                                    >
                                                        <svg
                                                                viewBox="0 0 14 4"
                                                                fill="none"
                                                                width="16"
                                                                height="16"
                                                                class="sc-bdnxRM sc-hKFxyN hOiKLt"
                                                        >
                                                            <path
                                                                    fill-rule="evenodd"
                                                                    clip-rule="evenodd"
                                                                    d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z"
                                                                    fill="currentColor"
                                                            ></path>
                                                        </svg>
                                                    </button>
                                                    <div
                                                            class="share-btn-setting dropdown-menu dropdown-menu-end"
                                                    >
                                                        <button
                                                                type="button"
                                                                class="btn-setting-text share-text"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#shareModal"
                                                                tabindex="0"
                                                        >
                                                            Share
                                                        </button>
                                                        <button
                                                                type="button"
                                                                class="btn-setting-text report-text"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#reportModal"
                                                                tabindex="0"
                                                        >
                                                            Report
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- sharea End -->
                                            </div>
                                        </div>
                                    </div>
                                    <button
                                            type="button"
                                            class="btn btn-primary-alta"
                                            data-bs-toggle="modal"
                                            data-bs-target="#placebidModal"
                                    >
                                        Place a Bid
                                    </button>
                                </div>
                            </div>
                            <!-- End single product -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Tab Product area -->



{% endblock %}