{% extends 'home/index.html.twig' %}

{% block body %}

    <div class="rn-breadcrumb-inner ptb--30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <h5 class="title text-center text-md-start">Blog Details</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-list">
                        <li class="item"><a href="index.html">Home</a></li>
                        <li class="separator"><i class="feather-chevron-right"></i></li>
                        <li class="item current">Blog Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title area -->

    <!-- blog details area start -->
    <div class="rn-blog-area rn-blog-details-default rn-section-gapTop">
        <div class="container">
            <div class="row g-6">
                <div class="col-xl-8 col-lg-8">
                    <div class="rn-blog-listen">
                        <div class="blog-content-top">
                            <h2 class="title">Omar marrakchi Post</h2>
                            <span class="date">{{ post.datePost|date('Y-m-d H:i:s') }}</span>
                        </div>
                        <div class="bd-thumbnail">
                            <div class="large-img mb--30" style="position: relative">
                                {% if images|length > 0 %}
                                    <button id="prev-button" class="nav-button prev-button"
                                            style="position: absolute; background: none; border: none; top: 50%; left: 0; transform: translateY(-50%); font-size: 25px; width: 10px;">
                                        &#8592;
                                    </button>
                                    <img id="post-image" class="w-100" src="{{ asset('images/blog/' ~ images[0]) }}" alt="Blog Images" style="width: 1000px; height: 500px; object-fit: contain;">
                                    <button id="next-button" class="nav-button next-button"
                                            style="position: absolute; background: none; border: none; top: 50%; right: 22px; transform: translateY(-50%); font-size: 25px; width: 10px;">
                                        &#8594;
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="news-details">
                            <h4>Caption : </h4>
                            <p>{{ post.caption }}</p>
                        </div>
                        <div class="comments-wrapper pt--40">
                            <div class="comments-area">
                                <div class="trydo-blog-comment">
                                    <h5 class="comment-title mb--40">9 replies on “Have You Heard?
                                        Agency Is Your Best
                                        Bet To Grow”</h5>
                                    <!-- Start Coment List  -->
                                    <ul class="comment-list">

                                        <!-- Start Single Comment  -->
                                        <li class="comment parent">
                                            <div class="single-comment">
                                                <div class="comment-author comment-img">
                                                    <img class="comment-avatar"
                                                         src="{{ asset('images/blog/ddbdd0d4-9b35-48a7-af56-9170ec809c04-1-661abe8155a9f401920793.jpg') }}"
                                                         alt="Comment Image"
                                                         style="width: 50px; height: 50px;"
                                                    >
                                                    <div class="m-b-20">
                                                        <div class="commenter">Parent</div>
                                                        <div class="time-spent"> August 20, at 8:44
                                                            pm
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment-text">
                                                    <p>A component that allows for easy creation of menu
                                                        items, quickly
                                                        creating paragraphs of “Lorem Ipsum” and
                                                        pictures with custom
                                                        sizes.</p>
                                                </div>
                                                <div class="reply-edit">
                                                    <div class="reply">
                                                        <a class="comment-reply-link" href="#">
                                                            <i class="rbt feather-corner-down-right"></i>
                                                            Reply
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- comment form area Start -->

                        <!-- Start Contact Form Area  -->
                        <div class="rn-comment-form pt--60">
                            <div class="inner">
                                <div class="section-title">
                                    <span class="subtitle">Have a Comment?</span>
                                    <h2 class="title">Leave a Reply</h2>
                                </div>
                                <form class="mt--40" action="#">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="rnform-group"><textarea placeholder="Comment"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="blog-btn">
                                                <a class="btn btn-primary-alta btn-large w-100" href="#"><span>SEND
                                                        MESSAGE</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Contact Form Area  -->

                        <!-- comment form area End -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var images = {{ images|json_encode|raw }};
        var currentIndex = 0; // L'index de l'image actuelle

        // Ajouter des écouteurs d'événements aux boutons
        document.getElementById('prev-button').addEventListener('click', function() {
            console.log(images);
            // Décrémenter l'index
            currentIndex--;
            if (currentIndex < 0) {
                currentIndex = images.length - 1; // Aller à la dernière image
            }
            // Mettre à jour l'image
            document.getElementById('post-image').src = 'images/blog/' + images[currentIndex];
        });

        document.getElementById('next-button').addEventListener('click', function() {
            // Incrémenter l'index
            currentIndex++;
            if (currentIndex >= images.length) {
                currentIndex = 0; // Retourner à la première image
            }
            // Mettre à jour l'image
            document.getElementById('post-image').src = '/images/blog/' + images[currentIndex];
        });
    </script>

{% endblock %}