<div id="chat-css">
    <div class="container lg-product-wrapper">
        <div class="row no-gutters">
            <div class="col-md-4 border-right " >
                <div class="settings-tray">
                    <img class="profile-image"
                         src="{{ asset('assets/images/logo/logo.png') }}" alt="Profile img">
                </div>
                <div class="search-box">
                    <div class="input-wrapper">
                        <i class="material-icons">search</i>
                        <input placeholder="Search here" type="text">
                    </div>
                </div>
                <div id="usersContainer">
                    {% set messagesIndex=0 %}
                    {% for index,user in users %}
                    {% if user!=app.user %}
                    <div class="friend-drawer friend-drawer--onhover" data-value="{{ index }}:{{ user.getId() }}"
                         id="list_user_{{ index }}">
                        <img class="profile-image" id="userImg_{{ index }}"
                             src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/robocop.jpg" alt="">
                        <div class="text">

                            <h6 id="userFullName_{{ index }}">{{ user.firstName|capitalize~' '~user.lastName|capitalize }}</h6>
                            {% if messages[messagesIndex][0]==user.getId() and messages[messagesIndex][3]==1 %}
                            <p class="text-muted "
                               id="userLastMessage_{{ index }}">{{ messages[messagesIndex][1] }}</p>
                        </div>
                        <span class="time text-muted small"
                              id="userLastMessageTime_{{ index }}">{{ messages[messagesIndex][2]|date('H:m') }}</span>
                        {% elseif messages[messagesIndex][0]==user.getId() %}
                        <p class="text-muted show" id="userLastMessage_{{ index }}">{{ messages[messagesIndex][1] }}</p>
                    </div>
                    <span class="time text-muted small show"
                          id="userLastMessageTime_{{ index }}">{{ messages[messagesIndex][2]|date('H:m') }}</span>
                    {% endif %}

                </div>
                        <hr>
                            {% set messagesIndex=messagesIndex+1%}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                {% set i=0 %}
                {% if app.user==users[0] %}
                {% set i=1 %}
                {% endif %}
                <div class="settings-tray">
                    <div class="friend-drawer no-gutters friend-drawer--grey" id="currentUserInChat"
                         data-value="{{ users[i].getId() }}">
                        <img class="profile-image" id="currentUserInChatImg"
                             src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/robocop.jpg" alt="">
                        <div class="text">
                            <h6 id="currentUserInChatName">{{ users[i].firstName|capitalize~' '~users[i].lastName|capitalize }}</h6>
                            <p class="text-muted">{{ messages[i][1] }}...</p>
                        </div>
                    </div>
                </div>
                <div class="chat-panel">
                    <div id="chatContainer">

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="chat-box-tray">
                                <a type="button" onclick="">
                                    <i class="fa-solid fa-face-grin-tongue-squint"></i>
                                </a>
                                <input type="text" id="msgToSend" placeholder=" Type your message here...">
                                <a type="button" onclick="sendMsg()">
                                    <i class="fa-solid fa-paper-plane fa-bounce" style="font-size: 20px"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

