<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <!-- CSS
============================================ -->
            <link rel="stylesheet" href="{{ asset('assets/css/vendor/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/vendor/slick.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/vendor/slick-theme.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/vendor/nice-select.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/plugins/feature.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/plugins/jquery-ui.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/vendor/odometer.css') }}">

            <!-- Style css -->
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

        {% endblock %}

        {% block javascripts %}
            <!-- JS ============================================ -->
            <script src="{{ asset('assets/js/vendor/jquery.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/jquery.nice-select.min.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/jquery-ui.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/modernizer.min.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/feather.min.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/slick.min.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/sal.min.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/particles.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/jquery.style.swicher.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/js.cookie.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/count-down.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/isotop.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/imageloaded.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/backtoTop.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/odometer.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/jquery-appear.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/scrolltrigger.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/jquery.custom-file-input.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/savePopup.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/vanilla.tilt.js') }}"></script>

            <!-- main JS -->
            <script src="{{ asset('assets/js/main.js') }}"></script>
            <!-- Meta Mask  -->
            <script src="{{ asset('assets/js/vendor/web3.min.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/maralis.js') }}"></script>
            <script src="{{ asset('assets/js/vendor/nft.js') }}"></script>

            <script>


            </script>        {% endblock %}
    </head>
    <body>


        {% block body %}{% endblock %}
    </body>
</html>
