<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Home Ten || Nuron - NFT Marketplace Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel='stylesheet'
          href='https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Riot&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">


    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide.min.css">
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content=""/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-style-mode" content="1"/>
    <!-- 0 == light, 1 == dark -->

    <!-- Favicon -->
    <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{{ asset('assets/images/favicon.png') }}"
    />


    <!-- Style css -->
    {% block stylesheets_firstPlace %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}


    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ asset('assets/css/vendor/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/vendor/slick.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/vendor/slick-theme.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/vendor/nice-select.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/feature.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/plugins/jquery-ui.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/vendor/odometer.css') }}"/>

    <!-- Style css -->
    {% block stylesheets_wtf1 %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>
    {% block stylesheets_wtf2 %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}


    <link rel="stylesheet" href="{{ asset('css/market.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/product.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/error_success.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/popUp.css') }}"/>
    <script src="{{ asset('js/popUp.js') }}"></script>

    <!--Swiper slider css-->
    <link href="{{ asset('assetsOfOutsiderElements/libs/swiper/swiper-bundle.min.css') }}" rel="stylesheet"
          type="text/css">



    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}


    <script src="{{ asset('js/global_variables.js') }}"></script>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body class="template-color-1 nft-body-connect count_bg--3">

<!-- start header area -->
<!-- Start Header -->
<header class="rn-header haeder-default header--sticky">
    <div class="container">
        <div class="header-inner">
            <div class="header-left">
                <div class="logo-thumbnail logo-custom-css">
                    <a class="logo-light" href="{{ path('app_home') }}"
                    ><img src="{{ asset('assets/images/logo/newLogo.png') }}" alt="nft-logo"
                    /></a>
                    <a class="logo-dark" href="{{ path('app_home') }}"
                    ><img src="{{ asset('assets/images/logo/newLogo.png') }}" alt="nft-logo"
                    /></a>
                </div>
                <div class="mainmenu-wrapper">
                    <nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
                        <!-- Start Mainmanu Nav -->
                        <ul class="mainmenu">
                            <li><a href="{{ path('app_home') }}">Home</a></li>
                            <li class="has-droupdown has-menu-child-item">
                                <a href="#">Transport</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="{{ path('app_transport_client') }}"
                                        >Transport<i class="fa-solid fa-shop"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('stationClient') }}"
                                        >Station<i class="fa-solid fa-shop"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('show_abonnement') }}"
                                        >Abonnement<i class="fa-solid fa-plus"></i></a>
                                    </li>

                                    <li>
                                        <a href="{{ path('app_addAbonnement') }}"
                                        >add abonnement<i class="fa-solid fa-plus"></i></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-droupdown has-menu-child-item">
                                <a href="#">Market</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="{{ path('app_market_place_index') }}"
                                        >Market Place<i class="fa-solid fa-shop"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_product_new') }}"
                                        >Add Product<i class="fa-solid fa-plus"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_basket_index') }}"
                                        >Basket<i class="fa-solid fa-basket-shopping"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_user_dashboard_index') }}"
                                        >Product details<i class="feather-fast-forward"></i
                                        ></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-droupdown has-menu-child-item">
                                <a class="down" href="../blog/blog.html">Blog</a>
                                <ul class="submenu">
                                    <li>
                                        <a href="{{ path('app_blog') }}"
                                        >Consult blog<i class="feather-fast-forward"></i
                                        ></a>
                                    </li>
                                    <li>
                                        <a href="../blog/blog-col-two.html"
                                        >Add blog<i class="feather-fast-forward"></i
                                        ></a>
                                    </li>
                                </ul>
                            </li>
                            <li style="min-width: 100px"><a class="live-expo" href="{{ path('app_news') }}">News</a>
                            </li>
                            <li><a href="{{ path('app_reclamation') }}">Contact</a></li>
                        </ul>
                        <!-- End Mainmanu Nav -->
                    </nav>
                </div>
            </div>



            <div class="header-right mr-2 ml-2">


                {% if app.user == null %}
                    <div class="setting-option header-btn rbt-site-header" >
                        <div class="icon-box">
                            <a id="" class="btn btn-primary-alta btn-small" href="{{ path('app_login') }}">Login</a>
                        </div>
                    </div>
                {% endif %}

                <div class="setting-option d-none d-lg-block">
                    <form class="search-form-wrapper" action="#">
                        <input
                                type="search"
                                placeholder="Search Here"
                                aria-label="Search"
                        />
                        <div class="search-icon">
                            <button><i class="feather-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="setting-option rn-icon-list d-block d-lg-none">
                    <div class="icon-box search-mobile-icon">
                        <button><i class="feather-search"></i></button>
                    </div>
                    <form
                            id="header-search-1"
                            action="#"
                            method="GET"
                            class="large-mobile-blog-search"
                    >
                        <div class="rn-search-mobile form-group">
                            <button type="submit" class="search-button">
                                <i class="feather-search"></i>
                            </button>
                            <input type="text" placeholder="Search ..."/>
                        </div>
                    </form>
                </div>

                <div class="setting-option rn-icon-list notification-badge">
                    <div class="icon-box">
                        <a href="../pages/activity.html"
                        ><i class="feather-bell"></i><span class="badge">6</span></a
                        >
                    </div>
                </div>


                <div class="setting-option mobile-menu-bar d-block d-xl-none">
                    <div class="hamberger">
                        <button class="hamberger-button">
                            <i class="feather-menu"></i>
                        </button>
                    </div>
                </div>
                <div id="my_switcher" class="my_switcher setting-option">
                    <ul>
                        <li>
                            <a
                                    href="javascript: void(0);"
                                    data-theme="light"
                                    class="setColor light"
                            >
                                <img
                                        class="sun-image"
                                        src="{{ asset('assets/images/icons/sun-01.svg') }}"
                                        alt="Sun images"
                                />
                            </a>
                        </li>
                        <li>
                            <a
                                    href="javascript: void(0);"
                                    data-theme="dark"
                                    class="setColor dark"
                            >
                                <img
                                        class="Victor Image"
                                        src="{{ asset('assets/images/icons/vector.svg') }}"
                                        alt="Vector Images"
                                />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="rbt-mini-cart-wrap">
                    <a href="{{ path('app_basket_index') }}">
                        <span class="mini-cart">
                            <i class=" feather-shopping-cart"
                               style="margin-top: 10px !important;padding-top: 10px !important;"></i>

                            <span class="rbt-cart-count" id="itmesNumber">0</span>
                        </span>
                    </a>
                </div>
                {% if app.user %}
                <div class="has-menu-child-item" id="header_admin" style="max-width: 100px !important;">
                    <div class="setting-option rn-icon-list user-account">
                        <div class="icon-box">
                            <a href="{{ path('app_user_dashboard_index') }}"
                            ><img
                                    src="{{ asset('usersImg/'~app.user.getImage()) }}"
                                    alt="Images"
                            /></a>
                            <div class="rn-dropdown" style="max-width: 100px !important;">
                                <ul class="list-inner">
                                    <li><a href="{{ path('app_user_dashboard_index') }}">My Profile</a></li>
                                    <li>
                                        <a href="{{ path('editProfile') }}">Edit Profile</a>
                                    </li>
                                    <li><a href="{{ path('app_logout') }}">Sign Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->

<div class="popup-mobile-menu">
    <div class="inner">
        <div class="header-top">
            <div class="logo logo-custom-css">
                <a class="logo-light" href="index.html"
                ><img
                            src="{{ asset('assets/images/logo/logo-white.png') }}"
                            alt="nft-logo"
                    /></a>
                <a class="logo-dark" href="index.html"
                ><img src="{{ asset('assets/images/logo/logo-dark.png') }}" alt="nft-logo"
                    /></a>
            </div>
            <div class="close-menu">
                <button class="close-button">
                    <i class="feather-x"></i>
                </button>
            </div>
        </div>
        <nav>
            <!-- Start Mainmanu Nav -->
            <ul class="mainmenu">
                <li class="has-droupdown">
                    <a class="nav-link its_new" href="#">Home</a>
                    <ul class="submenu">
                        <li>
                            <a href="index.html"
                            >Home page - 01 <i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-two.html"
                            >Home page - 02<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-three.html"
                            >Home page - 03<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-four.html"
                            >Home page - 04<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-five.html"
                            >Home page - 05<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-six.html"
                            >Home page - 06<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-seven.html"
                            >Home page - 07<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-eight.html"
                            >Home page - 08<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-nine.html"
                            >Home page - 09<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-ten.html"
                            >Home page - 10<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-eleven.html"
                            >Home page - 11<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-twelve.html"
                            >Home page - 12<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-thirteen.html"
                            >Home page - 13<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-fourteen.html"
                            >Home page - 14<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-fifteen.html"
                            >Home page - 15<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-sixteen.html"
                            >Home page - 16<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-seventeen.html"
                            >Home page - 17<i class="feather-home"></i
                                ></a>
                        </li>
                        <li>
                            <a href="index-eighteen.html"
                            >Home page - 18<i class="feather-home"></i
                                ></a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">About</a></li>
                <li class="has-droupdown">
                    <a class="nav-link its_new" href="#">Explore</a>
                    <ul class="submenu">
                        <li>
                            <a href="../explore/explore-one.html"
                            >Explore Filter<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a href="../explore/explore-two.html"
                            >Explore Isotop<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a href="../explore/explore-three.html"
                            >Explore Carousel<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a href="../explore/explore-four.html"
                            >Explore Simple<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a href="../explore/explore-five.html"
                            >Explore Place Bid<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a href="../explore/explore-six.html"
                            >Place Bid With Filter<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a href="../explore/explore-seven.html"
                            >Place Bid With Isotop<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a href="../explore/explore-eight.html"
                            >Place Bid With Carousel<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a href="../explore/explore-list-style.html"
                            >Explore Style List<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a href="../explore/explore-list-column-two.html"
                            >Explore List Col-Two<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a href="../explore/marketPlace.html.twig"
                            >Explore Left Filter<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a class="live-expo" href="../explore/explore-live.html"
                            >Live Explore</a
                            >
                        </li>
                        <li>
                            <a class="live-expo" href="../explore/explore-live-two.html"
                            >Live Explore Carousel</a
                            >
                        </li>
                        <li>
                            <a class="live-expo" href="../explore/explore-live-three.html"
                            >Live With Place Bid</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="with-megamenu">
                    <a class="nav-link its_new" href="#">Pages</a>
                    <div class="rn-megamenu">
                        <div class="wrapper">
                            <div class="row row--0">
                                <div class="col-lg-3 single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li>
                                            <a href="create.html"
                                            >Create NFT<i data-feather="file-plus"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="upload-variants.html"
                                            >Upload Type<i data-feather="layers"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="activity.html"
                                            >Activity<i data-feather="activity"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="creator.html"
                                            >Creators<i data-feather="users"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="collection.html"
                                            >Our Collection<i data-feather="package"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="upcoming_projects.html"
                                            >Upcoming Projects<i data-feather="loader"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="create-collection.html"
                                            >Create Collection<i data-feather="edit-3"></i
                                                ></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li>
                                            <a href="login.html"
                                            >Log In <i data-feather="log-in"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="sign-up.html"
                                            >Registration <i data-feather="user-plus"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="forget.html"
                                            >Forget Password <i data-feather="key"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="author.html"
                                            >Author/Profile(User) <i data-feather="user"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="connect.html"
                                            >Connect to Wallet <i data-feather="pocket"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="privacy-policy.html"
                                            >Privacy Policy <i data-feather="file-text"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="newsletter.html"
                                            >Newsletter<i data-feather="book-open"></i
                                                ></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li>
                                            <a href="product.html"
                                            >Product<i data-feather="folder"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="product-details.html"
                                            >Product Details <i data-feather="layout"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="ranking.html"
                                            >NFT Ranking<i data-feather="trending-up"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="blog.html"
                                            >Our News <i data-feather="message-square"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html"
                                            >Blog Details<i data-feather="book-open"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="404.html"
                                            >404 <i data-feather="alert-triangle"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="forum-community.html"
                                            >Forum & Community<i
                                                        data-feather="message-circle"
                                                ></i
                                                ></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li>
                                            <a href="about.html"
                                            >About Us<i data-feather="award"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="contact.html"
                                            >Contact <i data-feather="headphones"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="support.html"
                                            >Support/FAQ <i data-feather="help-circle"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="terms-condition.html"
                                            >Terms & Condition <i data-feather="list"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="coming-soon.html"
                                            >Coming Soon <i data-feather="clock"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="maintenance.html"
                                            >Maintenance <i data-feather="cpu"></i
                                                ></a>
                                        </li>
                                        <li>
                                            <a href="forum-details.html"
                                            >Forum Details <i data-feather="message-circle"></i
                                                ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="has-droupdown has-menu-child-item">
                    <a class="nav-link its_new" href="blog.html">Blog</a>
                    <ul class="submenu">
                        <li>
                            <a href="blog-single-col.html"
                            >Blog Single Column<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a href="blog-col-two.html"
                            >Blog Two Column<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a href="blog-col-three.html"
                            >Blog Three Column<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a href="blog.html"
                            >Blog Four Column<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                        <li>
                            <a href="blog-details.html"
                            >Blog Details<i class="feather-fast-forward"></i
                                ></a>
                        </li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <!-- End Mainmanu Nav -->
        </nav>
    </div>
</div>
<!-- ENd Header Area -->


{% block body %}

{% endblock %}


<div class="modal fade" id="statusErrorsModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center p-lg-4">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                    <circle class="path circle" fill="none" stroke="#db3646" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                    <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                    <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" X2="34.4" y2="92.2" />
                </svg>
                <h4 class="text-danger mt-3">Invalid!</h4>
                <h4 id="error-message" class="mt-3" >This email is already registered, please login.</h4>
                <button type="button" class="btn btn-sm mt-3 btn-danger" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="statusSuccessModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center p-lg-4">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                    <circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                    <polyline class="path check" fill="none" stroke="#198754" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                </svg>
                <h4 class="text-success mt-3">Success!</h4>
                <h4 id="success-message" class="mt-3" >This email is already registered, please login.</h4>
                <button type="button" class="btn btn-sm mt-3 btn-success" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


<!-- Start Footer Area  -->
<!-- Start Footer Area -->
<div
        class="rn-footer-one rn-section-gap bg-color--1 mt--100 mt_md--80 mt_sm--80"
>
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="widget-content-wrapper">
                    <div class="footer-left">
                        <div class="logo-thumbnail logo-custom-css">
                            <a class="logo-light" href="index.html"
                            ><img
                                        src="../../assets/images/logo/logo-white.png"
                                        alt="nft-logo"
                                /></a>
                            <a class="logo-dark" href="index.html"
                            ><img
                                        src="../../assets/images/logo/logo-dark.png"
                                        alt="nft-logo"
                                /></a>
                        </div>
                        <p class="rn-footer-describe">
                            Created with the collaboration of over 60 of the world's best
                            Nuron Artists.
                        </p>
                    </div>
                    <div class="widget-bottom mt--40 pt--40">
                        <h6 class="title">Get The Latest Nuron Updates</h6>
                        <div class="input-group">
                            <input
                                    type="text"
                                    class="form-control bg-color--2"
                                    placeholder="Your username"
                                    aria-label="Recipient's username"
                            />
                            <div class="input-group-append">
                                <button
                                        class="btn btn-primary-alta btn-outline-secondary"
                                        type="button"
                                >
                                    Subscribe
                                </button>
                            </div>
                        </div>
                        <div class="newsletter-dsc">
                            <p>Email is safe. We don't spam.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_mobile--40">
                <div class="footer-widget widget-quicklink">
                    <h6 class="widget-title">Nuron</h6>
                    <ul class="footer-list-one">
                        <li class="single-list"><a href="#">Protocol Explore</a></li>
                        <li class="single-list"><a href="#">System Token</a></li>
                        <li class="single-list"><a href="#">Otimize Time</a></li>
                        <li class="single-list"><a href="#">Visual Checking</a></li>
                        <li class="single-list"><a href="#">Fadeup System</a></li>
                        <li class="single-list"><a href="#">Activity Log</a></li>
                        <li class="single-list"><a href="#">System Auto Since</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_md--40 mt_sm--40">
                <div class="footer-widget widget-information">
                    <h6 class="widget-title">Information</h6>
                    <ul class="footer-list-one">
                        <li class="single-list"><a href="#">Market Explore</a></li>
                        <li class="single-list"><a href="#">Ready Token</a></li>
                        <li class="single-list"><a href="#">Main Option</a></li>
                        <li class="single-list"><a href="#">Product Checking</a></li>
                        <li class="single-list"><a href="blog.html">Blog Grid</a></li>
                        <li class="single-list"><a href="about.html">About Us</a></li>
                        <li class="single-list"><a href="#">Fix Bug </a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_md--40 mt_sm--40">
                <div class="footer-widget">
                    <h6 class="widget-title">Recent Sold Out</h6>
                    <ul class="footer-recent-post">
                        <li class="recent-post">
                            <div class="thumbnail">
                                <a href="product-details.html">
                                    <img
                                            src="../../assets/images/portfolio/portfolio-01.jpg"
                                            alt="Product Images"
                                    />
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title">
                                    <a href="product-details.html">#21 The Wonder</a>
                                </h6>
                                <p>Highest bid 1/20</p>
                                <span class="price">0.244wETH</span>
                            </div>
                        </li>
                        <li class="recent-post">
                            <div class="thumbnail">
                                <a href="product-details.html">
                                    <img
                                            src="../../assets/images/portfolio/portfolio-02.jpg"
                                            alt="Product Images"
                                    />
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title">
                                    <a href="product-details.html">Diamond Dog</a>
                                </h6>
                                <p>Highest bid 1/20</p>
                                <span class="price">0.022wETH</span>
                            </div>
                        </li>
                        <li class="recent-post">
                            <div class="thumbnail">
                                <a href="product-details.html">
                                    <img
                                            src="../../assets/images/portfolio/portfolio-03.jpg"
                                            alt="Product Images"
                                    />
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="title">
                                    <a href="product-details.html">Morgan11</a>
                                </h6>
                                <p>Highest bid 1/20</p>
                                <span class="price">0.892wETH</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Area -->
<!-- Start Footer Area -->
<div class="copy-right-one ptb--20 bg-color--1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="copyright-left">
                    <span>©2022 Nuron, Inc. All rights reserved.</span>
                    <ul class="privacy">
                        <li><a href="terms-condition.html">Terms</a></li>
                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="copyright-right">
                    <ul class="social-copyright">
                        <li>
                            <a href="#"><i data-feather="facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i data-feather="twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i data-feather="instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i data-feather="linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i data-feather="mail"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Area -->
<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>
<!-- Start Top To Bottom Area  -->
<div class="rn-progress-parent">
    <svg
            class="rn-back-circle svg-inner"
            width="100%"
            height="100%"
            viewBox="-1 -1 102 102"
    >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
<!-- End Top To Bottom Area  -->



<!-- JS ============================================ -->
<script src="{{ asset('bestFormAssets/js/2.js') }}"></script>


<script src="{{ asset('assets/js/vendor/jquery.js') }}"></script>
<script src="{{ asset('assets/js/vendor/jquery.nice-select.min.js') }}"></script>
<script src="{{ asset('assets/js/vendor/jquery-ui.js') }}"></script>
<script src="{{ asset('assets/js/vendor/modernizer.min.js') }}"></script>
<script src="{{ asset('assets/js/vendor/feather.min.js') }}"></script>
<script src="{{ asset('assets/js/vendor/slick.min.js') }}"></script>
<script src="{{ asset('assets/js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/vendor/sal.min.js') }}"></script>
<script src="{{ asset('assets/js/vendor/particles.js') }}"></script>
<script src="{{ asset('assets/js/vendor/jquery.style.swicher.js') }}"></script>
<script src="{{ asset('assets/js/vendor/js.cookie.js') }}"></script>
<script src="{{ asset('assets/js/vendor/count-down.js') }}"></script>
<script src="{{ asset('assets/js/vendor/isotop.js') }}"></script>
<script src="{{ asset('assets/js/vendor/imageloaded.js') }}"></script>
<script src="{{ asset('assets/js/vendor/backtoTop.js') }}"></script>
<script src="{{ asset('assets/js/vendor/odometer.js') }}"></script>
<script src="{{ asset('assets/js/vendor/jquery-appear.js') }}"></script>
<script src="{{ asset('assets/js/vendor/scrolltrigger.js') }}"></script>
<script src="{{ asset('assets/js/vendor/jquery.custom-file-input.js') }}"></script>
<script src="{{ asset('assets/js/vendor/savePopup.js') }}"></script>
<script src="{{ asset('assets/js/vendor/vanilla.tilt.js') }}"></script>


<!-- Meta Mask  -->
<script src="{{ asset('assets/js/vendor/web3.min.js') }}"></script>
<script src="{{ asset('assets/js/vendor/maralis.js') }}"></script>
<script src="{{ asset('assets/js/vendor/nft.js') }}"></script>

<script src="{{ asset('assetsOfOutsiderElements/libs/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ asset('assetsOfOutsiderElements/js/pages/extended-swiper.js') }}"></script>



<script src="{{ asset('js/loader.js') }}"></script>
<script src="{{ asset('js/error_success.js') }}"></script>
<script src="{{ asset('js/userScript.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>

{% block scripts %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

<!-- main JS -->
<script src="{{ asset('assets/js/main.js') }}"></script>


</body>
</html>
