{% extends 'base.html.twig' %}

{% block title %}
  show reclamation!
{% endblock %}

{% block body %}
  <!-- Start BLog Area -->
  <div class="rn-blog-area rn-section-gapTop">
    <div class="container">
      <div class="row mb--50 align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <h1>Here you can find all your reclamation hope you find it good</h1>
        </div>
      </div>
      <div class="row g-5 d-flex flex-wrap">
        <!-- [:4] -->
        {% for recl in rec %}
          <div class="inner flex-grow-1" style="max-width: 300px; overflow-wrap: break-word;">
            <div class="thumbnail">
              <a href="{{ path('reclamationsh.modifer', { id: recl.id }) }}"><img src="{{ asset('images/reclamation/' ~ recl.getImagePath()) }}" alt="Personal Portfolio Images" /><span class="text-center color-white"><i class="feather-edit"></i></span></a>
            </div>
            <div class="content">
              <div class="category-info">
                <div class="category-list">
                  <a href="blog-details.html">{{ recl.subject }}</a>
                </div>
                <div class="meta">
                  <span>
                    <i class="feather-clock"></i>
                    {{ recl.createdAt|date('Y-m-d\TH:i:sP')|time_ago }}
                  </span>
                </div>
              </div>
              <h4 class="title">
                            <form action="{{ path('reclamationsh.del', { id: recl.id }) }}" method="post" onsubmit="return confirm('Are you sure?');">
                              {% if (recl.description|length) > 10 %}
                                {{ recl.description|slice(0, 10) }}...
                              {% else %}
                                {{ recl.description }}
                              {% endif %}
                              <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                          </h4>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- End BLog Area -->

  <div class="mouse-cursor cursor-inner"></div>
  <!-- Start Top To Bottom Area -->
  <div class="rn-progress-parent">
    <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewbox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
{% endblock %}
