{% extends 'base.html.twig' %}
 {% block javascripts %}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.6/flatpickr.min.js"></script>

 {% endblock %}

{% block test %}

    <script src="{{ asset('js/userScript.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <header class="rn-header haeder-default header--sticky">
        <div class="container">
            <div class="header-inner">
                <div class="header-left">
                    <div class="logo-thumbnail logo-custom-css">
                        <a class="logo-light" href="index.html"><img src="assets/images/logo/logo-white.png" alt="nft-logo"></a>
                        <a class="logo-dark" href="index.html"><img src="assets/images/logo/logo-dark.png" alt="nft-logo"></a>
                    </div>
                    <div class="mainmenu-wrapper">
                        <nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
                            <!-- Start Mainmanu Nav -->
                            <ul class="mainmenu">
                                <li class="has-droupdown has-menu-child-item">
                                    <a href="index.html">Home</a>
                                    <ul class="submenu">
                                        <li><a href="index.html">Home page - 01 <i class="feather-home"></i></a></li>
                                        <li><a href="index-two.html">Home page - 02<i class="feather-home"></i></a></li>
                                        <li><a href="index-three.html">Home page - 03<i class="feather-home"></i></a></li>
                                        <li><a href="index-four.html">Home page - 04<i class="feather-home"></i></a></li>
                                        <li><a href="index-five.html">Home page - 05<i class="feather-home"></i></a></li>
                                        <li><a href="index-six.html">Home page - 06<i class="feather-home"></i></a></li>
                                        <li><a href="index-seven.html">Home page - 07<i class="feather-home"></i></a></li>
                                        <li><a href="index-eight.html">Home page - 08<i class="feather-home"></i></a></li>
                                        <li><a href="index-nine.html">Home page - 09<i class="feather-home"></i></a></li>
                                        <li><a href="index-ten.html">Home page - 10<i class="feather-home"></i></a></li>
                                        <li><a href="index-eleven.html">Home page - 11<i class="feather-home"></i></a></li>
                                        <li><a href="index-twelve.html">Home page - 12<i class="feather-home"></i></a></li>
                                        <li><a href="index-thirteen.html">Home page - 13<i class="feather-home"></i></a></li>
                                        <li><a href="index-fourteen.html">Home page - 14<i class="feather-home"></i></a></li>
                                        <li><a href="index-fifteen.html">Home page - 15<i class="feather-home"></i></a></li>
                                        <li><a href="index-sixteen.html">Home page - 16<i class="feather-home"></i></a></li>
                                        <li><a href="index-seventeen.html">Home page - 17<i class="feather-home"></i></a></li>
                                        <li><a href="index-eighteen.html">Home page - 18<i class="feather-home"></i></a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About</a>
                                </li>
                                <li class="has-droupdown has-menu-child-item">
                                    <a href="#">Explore</a>
                                    <ul class="submenu">
                                        <li><a href="explore-one.html">Explore Filter<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-two.html">Explore Isotop<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-three.html">Explore Carousel<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-four.html">Explore Simple<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-five.html">Explore Place Bid<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-six.html">Place Bid With Filter<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-seven.html">Place Bid With Isotop<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-eight.html">Place Bid With Carousel<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-list-style.html">Explore Style List<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-list-column-two.html">Explore List Col-Two<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="explore-left-filter.html">Explore Left Filter<i class="feather-fast-forward"></i></a></li>
                                        <li><a class="live-expo" href="explore-live.html">Live Explore</a></li>
                                        <li><a class="live-expo" href="explore-live-two.html">Live Explore Carousel</a></li>
                                        <li><a class="live-expo" href="explore-live-three.html">Live With Place Bid</a></li>
                                    </ul>
                                </li>
                                <li class="with-megamenu">
                                    <a href="#">Pages</a>
                                    <div class="rn-megamenu">
                                        <div class="wrapper">
                                            <div class="row row--0">
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li>
                                                            <a href="create.html">Create NFT<i data-feather="file-plus"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="upload-variants.html">Upload Type<i data-feather="layers"></i></a>
                                                        </li>
                                                        <li><a href="activity.html">Activity<i data-feather="activity"></i></a></li>
                                                        <li>
                                                            <a href="creator.html">Creators<i data-feather="users"></i></a>
                                                        </li>
                                                        <li><a href="collection.html">Our Collection<i data-feather="package"></i></a></li>
                                                        <li><a href="upcoming_projects.html">Upcoming Projects<i data-feather="loader"></i></a></li>
                                                        <li><a href="create-collection.html">Create Collection<i data-feather="edit-3"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="login.html">Log In <i data-feather="log-in"></i></a></li>
                                                        <li><a href="sign-up.html">Registration <i data-feather="user-plus"></i></a></li>
                                                        <li><a href="forget.html">Forget Password <i data-feather="key"></i></a></li>
                                                        <li>
                                                            <a href="author.html">Author/Profile(User) <i data-feather="user"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="connect.html">Connect to Wallet <i data-feather="pocket"></i></a>
                                                        </li>
                                                        <li><a href="privacy-policy.html">Privacy Policy <i data-feather="file-text"></i></a></li>
                                                        <li><a href="newsletter.html">Newsletter<i data-feather="book-open"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">

                                                        <li><a href="product.html">Product<i data-feather="folder"></i></a></li>
                                                        <li><a href="product-details.html">Product Details <i data-feather="layout"></i></a></li>
                                                        <li><a href="ranking.html">NFT Ranking<i data-feather="trending-up"></i></a></li>
                                                        <li><a href="edit-profile.html">Edit Profile<i data-feather="edit"></i></a></li>
                                                        <li><a href="blog-details.html">Blog Details<i data-feather="book-open"></i></a></li>
                                                        <li><a href="404.html">404 <i data-feather="alert-triangle"></i></a></li>
                                                        <li><a href="forum-community.html">Forum & Community<i data-feather="message-circle"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="about.html">About Us<i data-feather="award"></i></a></li>
                                                        <li><a href="contact.html">Contact <i data-feather="headphones"></i></a></li>
                                                        <li><a href="support.html">Support/FAQ <i data-feather="help-circle"></i></a></li>
                                                        <li><a href="terms-condition.html">Terms & Condition <i data-feather="list"></i></a></li>
                                                        <li><a href="coming-soon.html">Coming Soon <i data-feather="clock"></i></a></li>
                                                        <li><a href="maintenance.html">Maintenance <i data-feather="cpu"></i></a></li>
                                                        <li><a href="forum-details.html">Forum Details <i data-feather="message-circle"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="has-droupdown has-menu-child-item">
                                    <a class="down" href="blog.html">Blog</a>
                                    <ul class="submenu">
                                        <li><a href="blog-single-col.html">Blog Single Column<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="blog-col-two.html">Blog Two Column<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="blog-col-three.html">Blog Three Column<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="blog.html">Blog Four Column<i class="feather-fast-forward"></i></a></li>
                                        <li><a href="blog-details.html">Blog Details<i class="feather-fast-forward"></i></a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                            <!-- End Mainmanu Nav -->
                        </nav>
                    </div>
                </div>
                <div class="header-right">
                    <div class="setting-option d-none d-lg-block">
                        <form class="search-form-wrapper" action="#">
                            <input type="search" placeholder="Search Here" aria-label="Search">
                            <div class="search-icon">
                                <button><i class="feather-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="setting-option rn-icon-list d-block d-lg-none">
                        <div class="icon-box search-mobile-icon">
                            <button><i class="feather-search"></i></button>
                        </div>
                        <form id="header-search-1" action="#" method="GET" class="large-mobile-blog-search">
                            <div class="rn-search-mobile form-group">
                                <button type="submit" class="search-button"><i class="feather-search"></i></button>
                                <input type="text" placeholder="Search ...">
                            </div>
                        </form>
                    </div>

                    <div class="setting-option header-btn rbt-site-header" id="rbt-site-header">
                        <div class="icon-box">
                            <a id="connectbtn" class="btn btn-primary-alta btn-small" href="connect.html">Wallet connect</a>
                        </div>
                    </div>

                    <div class="setting-option rn-icon-list notification-badge">
                        <div class="icon-box">
                            <a href="activity.html"><i class="feather-bell"></i><span class="badge">6</span></a>
                        </div>
                    </div>

                    <div class="header_admin" id="header_admin">
                        <div class="setting-option rn-icon-list user-account">
                            <div class="icon-box">
                                <a href="author.html"><img src="assets/images/icons/boy-avater.png" alt="Images"></a>
                                <div class="rn-dropdown">
                                    <div class="rn-inner-top">
                                        <h4 class="title"><a href="product-details.html">Christopher William</a></h4>
                                        <span><a href="#">Set Display Name</a></span>
                                    </div>
                                    <div class="rn-product-inner">
                                        <ul class="product-list">
                                            <li class="single-product-list">
                                                <div class="thumbnail">
                                                    <a href="product-details.html"><img src="assets/images/portfolio/portfolio-07.jpg" alt="Nft Product Images"></a>
                                                </div>
                                                <div class="content">
                                                    <h6 class="title"><a href="product-details.html">Balance</a></h6>
                                                    <span class="price">25 ETH</span>
                                                </div>
                                                <div class="button"></div>
                                            </li>
                                            <li class="single-product-list">
                                                <div class="thumbnail">
                                                    <a href="product-details.html"><img src="assets/images/portfolio/portfolio-01.jpg" alt="Nft Product Images"></a>
                                                </div>
                                                <div class="content">
                                                    <h6 class="title"><a href="product-details.html">Balance</a></h6>
                                                    <span class="price">25 ETH</span>
                                                </div>
                                                <div class="button"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="add-fund-button mt--20 pb--20">
                                        <a class="btn btn-primary-alta w-100" href="connect.html">Add Your More Funds</a>
                                    </div>
                                    <ul class="list-inner">
                                        <li><a href="author.html">My Profile</a></li>
                                        <li><a href="edit-profile.html">Edit Profile</a></li>
                                        <li><a href="connect.html">Manage funds</a></li>
                                        <li><a href="login.html">Sign Out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="setting-option mobile-menu-bar d-block d-xl-none">
                        <div class="hamberger">
                            <button class="hamberger-button">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>

                    <div id="my_switcher" class="my_switcher setting-option">
                        <ul>
                            <li>
                                <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                    <img class="sun-image" src="assets/images/icons/sun-01.svg" alt="Sun images">
                                </a>
                            </li>
                            <li>
                                <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                    <img class="Victor Image" src="assets/images/icons/vector.svg" alt="Vector Images">
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </header>
    <!-- start page title area -->
    <div class="rn-breadcrumb-inner ptb--30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <h5 class="title text-center text-md-start">Edit Profile</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-list">
                        <li class="item"><a href="index.html">Home</a></li>
                        <li class="separator"><i class="feather-chevron-right"></i></li>
                        <li class="item current">Edit Profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title area -->


    <!-- Start tabs area -->
    <div class="edit-profile-area rn-section-gapTop">
        <div class="container">
            <div class="row plr--70 padding-control-edit-wrapper pl_md--0 pr_md--0 pl_sm--0 pr_sm--0">
                <div class="col-12 d-flex justify-content-between mb--30 align-items-center">
                    <h4 class="title-left">Edit Your Profile</h4>
                    <a  href="" class="btn btn-primary ml--10"><i class="feather-eye mr--5"></i>Preview</a>
                </div>
            </div>
            <div class="row plr--70 padding-control-edit-wrapper pl_md--0 pr_md--0 pl_sm--0 pr_sm--0">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <!-- Start tabs area -->
                    <nav class="left-nav rbt-sticky-top-adjust-five">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="feather-edit"></i>Edit Profile Image</button>
                            <button class="nav-link" id="nav-home-tabs" data-bs-toggle="tab" data-bs-target="#nav-homes" type="button" role="tab" aria-controls="nav-homes" aria-selected="false"><i class="feather-user"></i>Personal Information</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"> <i class="feather-unlock"></i>Change Password</button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="feather-bell"></i>Notification Setting</button>
                        </div>
                    </nav>
                    <!-- End tabs area -->
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 mt_sm--30">
                    <div class="tab-content tab-content-edit-wrapepr" id="nav-tabContent">

                        <!-- sigle tab content -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <!-- start personal information -->
                            <div class="nuron-information">

                                <div class="profile-change row g-5">
                                    <div class="profile-left right col-lg-8">
                                        <div class="profile-image mb--30">
                                            <h6 class="title">Change Your Cover Photo</h6>
                                            <img id="rbtinput2" src="{{ asset('images/users/' ~ image) }}" alt="Profile-NFT">
                                        </div>
                                        <div class="button-area">
                                            <div class="brows-file-wrapper">
                                                <!-- actual upload which is hidden -->
                                                <input name="nipa" id="nipa" type="file">
                                                <!-- our custom upload button -->
                                                <label for="nipa" title="No File Choosen">
                                                    <span class="text-center color-white">Upload Cover</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End personal information -->
                        </div>
                        <!-- End single tabv content -->
                        <!-- sigle tab content -->
                        <div id ="test" >

                        </div>
                        <div class="tab-pane fade" id="nav-homes" role="tabpanel" aria-labelledby="nav-home-tab">


                                <div  id="mesaage">

                                </div>

                            <!-- start personal information -->
                            <form>
                             <div class="nuron-information">
                                <div class="profile-form-wrapper">
                                    <div class="input-two-wrapper mb--15">
                                        <div class="first-name half-wid">
                                            <label for="contact-name" class="form-label">First Name</label>
                                            <input  name="name" id="firstname" type="text" value={{ name }}>
                                        </div>
                                        <div class="last-name half-wid">
                                            <label for="contact-name-last" class="form-label">Last Name</label>
                                            <input name="lastname" id="lastname" type="text" value={{ lastname }}>
                                        </div>
                                    </div>
                                    <div class="email-area">

                                        <label for="Email" class="form-label">Edit Your Email</label>
                                        <input name="email" id="email" type="email" value={{ email }} readonly>
                                    </div>
                                </div>




                                <div class="input-two-wrapepr-prifile">

                                    <!-- start Role area -->
                                    <div class="role-area mt--15">
                                        <label for="Address" class="form-label mb--10">Your Address</label>
                                        <input name="address" id="address" type="text" value={{ address }}  readonly >
                                    </div>
                                    <select class="profile-edit-select" name="user[status]"  id="status" >
                                        {% set status = status %}
                                        <option value="Married" {% if status == 'Married' %}selected{% endif %}>Married</option>
                                        <option value="Single" {% if status == 'Single' %}selected{% endif %}>Single</option>
                                    </select>
                                </div>

                                <div class="input-two-wrapepr-prifile">
                                    <!-- start Role area -->
                                    <div class="role-area mt--15">
                                        <label for="Role" class="form-label mb--10">Your Role</label>
                                        <input name=role" id="role" type="text" value={{role}}>
                                    </div>
                                    <select class="profile-edit-select" name="user[gender]"  id="gender" >
                                        {% set gender = gender %}
                                        <option value="Male" {% if gender == 'Married' %}selected{% endif %}>Male</option>
                                        <option value="Female" {% if gender == 'Single' %}selected{% endif %}>Female</option>
                                    </select>
                                    <!-- end gender -->
                                </div>


                                 <div class="profile-form-wrapper">
                                     <div class="input-two-wrapper mt--15">
                                         <div class="first-name half-wid">
                                             <label for="Age" class="form-label mb--10">Your Age</label>
                                             <input name="user[age]" id="agee" type="text" value={{age}} >
                                             <div id="age">
                                             </div>
                                         </div>
                                         <div class="last-name half-wid">

                                             <label for="PhoneNumber" class="form-label">Phone Number</label>
                                             <input name="phoneNumber" id="phoneNumberr" type="text" value={{phoneNumber}} >
                                             <div id="phoneNumber">
                                             </div>

                                             <style>
                                                 .test {
                                                     color: red;
                                                     font-weight: bold;

                                                 }
                                             </style>
                                         </div>
                                     </div>
                                 </div>

                                 <div class="profile-form-wrapper">
                                     <div class="input-two-wrapper mt--15">
                                         <div class="first-name half-wid">
                                             <label for="cin" class="form-label">Your Cin Number</label>
                                             <input  name="cin" id="cin" type="text" value={{ cin }}>
                                         </div>
                                         <div class="last-name half-wid">
                                             <label class="dob" for="datepicker">Date of brith</label>
                                             <input class="form-control datetimepicker" id="date" type="date"  data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' value="{{ dob|date('Y-m-d') }}"/>
                                         </div>
                                     </div>
                                 </div>

                             </div>


                            </form>

                                <div class="button-area save-btn-edit">
                                    <a href="{{path('editProfile')}}" class="btn btn-primary-alta mr--15" onclick="customAlert.alert('Cancel Edit Profile?')">Cancel</a>
                                    <button type="submit" id="submit_button" name="submit_button" class="btn btn-primary mr--15" onclick="editProfile(event)">Save
                                    </button>
                                </div>
                                <a href="{{path('app_user_delete')}}" class="btn btn-primary-alta mr--15" >Delete</a>

                            <!-- End personal information -->

                        </div>
                        <!-- End single tabv content -->

                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <!-- change password area Start -->
                            <div class="nuron-information">
                                <div class="condition">
                                    <h5 class="title">Create Your Password</h5>
                                    <p class="condition">
                                        Passwords are a critical part of information and network security. Passwords
                                        serve to protect user accounts but a poorly chosen password, if compromised,
                                        could put the entire network at risk.
                                    </p>
                                    <hr />
                                    <div class="email-area">
                                        <label for="Email2" class="form-label">Enter Email</label>
                                        <input name="email" id="Email2" type="email" value="">
                                    </div>
                                </div>
                                <div class="input-two-wrapper mt--15">
                                    <div class="old-password half-wid">
                                        <label for="oldPass" class="form-label">Enter Old Password</label>
                                        <input name="pass" id="oldPass" type="password">
                                    </div>
                                    <div class="new-password half-wid">
                                        <label for="NewPass" class="form-label">Create New Password</label>
                                        <input name="password" id="NewPass" type="password">
                                    </div>
                                </div>
                                <div class="email-area mt--15">
                                    <label for="rePass" class="form-label">Confirm Password</label>
                                    <input name="Password" id="rePass" type="password" value="">
                                </div>
                                <a href="#" class="btn btn-primary save-btn-edit" onclick="editPassword(event)">Save</a>
                            </div>
                            <!-- change password area ENd -->
                        </div>

                        <div class="tab-pane fade " id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                            <!-- start Notification Setting  -->
                            <div class="nuron-information">
                                <h5 class="title">Make Sure Your Notification setting </h5>
                                <p class="notice-disc">
                                    Notification Center is where you can find app notifications and Quick Settings—which
                                    give you quick access to commonly used settings and apps. You can change your
                                    notification settings at any time from the Settings app. Select Start , then select
                                    Settings
                                </p>
                                <hr />
                                <!-- start notice wrapper parrent -->
                                <div class="notice-parent-wrapper d-flex">
                                    <div class="notice-child-wrapper">
                                        <!-- single notice wrapper -->
                                        <div class="single-notice-setting">
                                            <div class="input">
                                                <input type="checkbox" id="themeSwitch" name="theme-switch" class="theme-switch__input" />
                                                <label for="themeSwitch" class="theme-switch__label">
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="content-text">
                                                <p>Order Confirmation Notice</p>
                                            </div>
                                        </div>
                                        <!-- single notice wrapper End -->

                                        <!-- single notice wrapper -->
                                        <div class="single-notice-setting mt--15">
                                            <div class="input">
                                                <input type="checkbox" id="themeSwitchs" name="theme-switch" class="theme-switch__input" />
                                                <label for="themeSwitchs" class="theme-switch__label">
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="content-text">
                                                <p>New Items Notification</p>
                                            </div>
                                        </div>
                                        <!-- single notice wrapper End -->

                                        <!-- single notice wrapper -->
                                        <div class="single-notice-setting mt--15">
                                            <div class="input">
                                                <input type="checkbox" id="OrderNotice" name="theme-switch" class="theme-switch__input" />
                                                <label for="OrderNotice" class="theme-switch__label">
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="content-text">
                                                <p>New Bid Notification</p>
                                            </div>
                                        </div>
                                        <!-- single notice wrapper End -->

                                        <!-- single notice wrapper -->
                                        <div class="single-notice-setting mt--15">
                                            <div class="input">
                                                <input type="checkbox" id="newPAy" name="theme-switch" class="theme-switch__input" />
                                                <label for="newPAy" class="theme-switch__label">
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="content-text">
                                                <p>Payment Card Notification</p>
                                            </div>
                                        </div>
                                        <!-- single notice wrapper End -->

                                        <!-- single notice wrapper -->
                                        <div class="single-notice-setting mt--15">
                                            <div class="input">
                                                <input type="checkbox" id="EndBid" name="theme-switch" class="theme-switch__input" />
                                                <label for="EndBid" class="theme-switch__label">
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="content-text">
                                                <p>Ending Bid Notification Before 5 min</p>
                                            </div>
                                        </div>
                                        <!-- single notice wrapper End -->

                                        <!-- single notice wrapper -->
                                        <div class="single-notice-setting mt--15">
                                            <div class="input">
                                                <input type="checkbox" id="Approve" name="theme-switch" class="theme-switch__input" />
                                                <label for="Approve" class="theme-switch__label">
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="content-text">
                                                <p>Notification for approving product</p>
                                            </div>
                                        </div>
                                        <!-- single notice wrapper End -->
                                    </div>



                                    <div class="notice-child-wrapper">
                                    </div>
                                </div>
                                <!-- end notice wrapper parrent -->
                                <a href="#" class="btn btn-primary save-btn-edit" onclick="customAlert.alert('Successfully saved Your Notificationm setting')">Save</a>
                            </div>
                            <!-- End Notification Setting  -->


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- End tabs area -->


{% endblock %}
