{% extends 'base.html.twig' %}


{% block stylesheets_wtf1 %}
    <link rel="stylesheet" href="{{ asset('css/wtf.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}"/>
{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/map.css') }}"/>
 {% endblock %}


 {% block javascripts %}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.6/flatpickr.min.js"></script>
     <script src="jquery-2.1.1.js"></script>
     <script src="{{ asset('js/userScript.js') }}"></script>




     <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
     <script src="{{ asset('js/map.js') }}"></script>


 {% endblock %}

{% block body %}

    <div>
        <div class="" id="loading-div">
        </div>
        <div class="" id="container">

            <div class="rn-breadcrumb-inner ptb--30">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-12">
                            <h5 class="title text-center text-md-start">Edit Profile</h5>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <ul class="breadcrumb-list">
                                <li class="item"><a href="index.html">Home</a></li>
                                <li class="separator"><i class="feather-chevron-right"></i></li>
                                <li class="item current">Edit Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Start tabs area -->
            <div class="edit-profile-area rn-section-gapTop">
                <div class="container">
                    <div class="row plr--70 padding-control-edit-wrapper pl_md--0 pr_md--0 pl_sm--0 pr_sm--0">
                        <div class="col-12 d-flex justify-content-between mb--30 align-items-center">
                            <h4 class="title-left">Edit Your Profile</h4>
                            <a href="{{ path('app_user_dashboard_index') }}"
                               class="btn btn-primary ml--10"><i class="fa-regular fa-user mr--5"></i>Profile</a>
                        </div>
                    </div>
                    <div class="woocommerce-notices-wrapper" id="notification_box">
                    </div>


                    {% set currentTime = "now"|date("Y-m-d H:i:s") %}
                    {% set currentTimeMinusOneHour = currentTime|date("Y-m-d H:i:s")|date_modify("-1 hour") %}
                    {# {{ currentTimeMinusOneHour|date("Y-m-d H:i:s") }} #}
                    {% if app.session.has('profile_alert_message') and expiry_time| date("Y-m-d H:i:s") > currentTimeMinusOneHour|date("Y-m-d H:i:s") %}
                        <div class="woocommerce-notices-wrapper" id="notification">
                            <div class="woocommerce-message" id="notifDiv" role="alert">
                                <i class="notifIcon mt-6 pb-0 fa-solid fa-circle-check"></i> You Shoud Edit Your Account
                                Beffor
                                30 Minutes Otherwise Your Account Will Be Deleted.<a href=""
                                                                                     class="restore-item">Undo?</a>
                            </div>
                        </div>
                    {% endif %}
                    <script>
                        setTimeout(function () {
                            var alertElement = document.getElementById('notification');
                            if (alertElement) {
                                alertElement.style.display = 'none';
                            }
                        }, 60000);
                    </script>

                    <div class="row plr--70 padding-control-edit-wrapper pl_md--0 pr_md--0 pl_sm--0 pr_sm--0">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <!-- Start tabs area -->
                            <nav class="left-nav rbt-sticky-top-adjust-five">
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                            aria-selected="true"><i class="feather-edit"></i>Edit Profile Image
                                    </button>
                                    <button class="nav-link" id="nav-home-tabs" data-bs-toggle="tab"
                                            data-bs-target="#nav-homes" type="button" role="tab"
                                            aria-controls="nav-homes"
                                            aria-selected="false"><i class="feather-user"></i>Personal Information
                                    </button>
                                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-profile" type="button" role="tab"
                                            aria-controls="nav-profile" aria-selected="false"><i
                                                class="feather-unlock"></i>Change
                                        Password
                                    </button>
                                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-contact" type="button" role="tab"
                                            aria-controls="nav-contact" aria-selected="false">
                                        <i class="fa-regular fa-map"></i>Location
                                        Setting
                                    </button>
                                    <button class="nav-link" id="nav-cin-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-cin" type="button" role="tab"
                                            aria-controls="nav-cin" aria-selected="false">
                                        <i class="fa-regular fa-address-card"></i>Insert Cin
                                    </button>
                                </div>
                            </nav>
                            <!-- End tabs area -->
                        </div>
                        <div id="main-content" class="col-lg-9 col-md-9 col-sm-12 mt_sm--30">
                            <div class="tab-content tab-content-edit-wrapepr" id="nav-tabContent">
                                <!-- sigle tab content -->
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                     aria-labelledby="nav-home-tab">
                                    <!-- start personal information -->
                                    <div class="nuron-information">

                                        <div class="profile-change row g-5">
                                            <div class="profile-left col-lg-4">
                                                <div class="profile-image mb--30">
                                                    <h6 class="title">Change Your Profile Picture</h6>
                                                    <!--{#                                                <img id="rbtinput1" src="{{ asset('images/user/profile.png') }}" #}-->
                                                    <!--{#                                                     alt="Profile-NFT"> #}-->
                                                    <div class="upload-area">

                                                        <div class="brows-file-wrapper">
                                                            <!-- actual upload which is hidden -->
                                                            <input
                                                                    name="createinputfile"
                                                                    id="createinputfile"
                                                                    type="file"
                                                                    class="inputfile"
                                                            />
                                                            <img
                                                                    id="createfileImage"
                                                                    {% if(app.user.image) %}
                                                                        src="{{ asset('usersImg/'~app.user.image) }}"
                                                                    {% else %}
                                                                        src="{{ asset('assets/images/portfolio/portfolio-05.jpg') }}"
                                                                    {% endif %}
                                                                    alt=""
                                                                    data-black-overlay="6"
                                                            />

                                                            <!-- our custom upload button -->
                                                            <label for="createinputfile" title="No File Choosen">
                                                                <i class="feather-upload"></i>
                                                                <span class="text-center">Choose a File</span>
                                                                <p class="text-center mt&#45;&#45;10">
                                                                    PNG, GIF, WEBP, MP4 or MP3. <br/>
                                                                    Max 1Gb.
                                                                </p>
                                                            </label>


                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="button-area">
                                                    <div class="brows-file-wrapper">
                                                        <label for="fatima" title="No File Choosen">
                                                            <span class="text-center color-white" onclick="editImage()">Save Profile</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="profile-left right col-lg-8">
                                                <div class="profile-image mb--30">
                                                    <h6 class="title">Change Your Cover Photo</h6>
                                                    <img id="rbtinput2" src="assets/images/profile/cover-04.png"
                                                         alt="Profile-NFT">
                                                </div>
                                                <div class="button-area">
                                                    <div class="brows-file-wrapper">
                                                        <!-- actual upload which is hidden -->
                                                        <input name="nipa" id="nipa" type="file">
                                                        <!-- our custom upload button -->
                                                        <label for="nipa" title="No File Choosen">
                                                            <span class="text-center color-white">Upload Cover</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End personal information -->
                                </div>
                                <!-- End single tabv content -->
                                <!-- sigle tab content -->
                                <div id="test">

                                </div>


                                <div class="tab-pane fade" id="nav-homes" role="tabpanel"
                                     aria-labelledby="nav-home-tab">


                                    <div id="mesaage">

                                    </div>
                                    <style>
                                        .test {
                                            color: red;
                                            font-weight: bold;

                                        }
                                    </style>

                                    <!-- start personal information -->
                                    <form>
                                        <div class="nuron-information">
                                            <div class="profile-form-wrapper">
                                                <div class="input-two-wrapper mb--15">
                                                    <div class="first-name half-wid">
                                                        <label for="contact-name" class="form-label">First Name</label>
                                                        <input name="name" id="firstnamee" type="text" value={{ name }}>
                                                        <div id="firstName">
                                                        </div>
                                                    </div>
                                                    <div class="last-name half-wid">
                                                        <label for="contact-name-last" class="form-label">Last
                                                            Name</label>
                                                        <input name="lastname" id="lastnamee" type="text"
                                                               value={{ lastname }}>
                                                        <div id="lastName">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="email-area">

                                                    <label for="Email" class="form-label">Edit Your Email</label>
                                                    <input name="email" id="email" type="email"
                                                           value={{ email }} readonly>
                                                </div>
                                            </div>


                                            <div class="input-two-wrapepr-prifile">

                                                <!-- start Role area -->
                                                <div class="role-area mt--15">
                                                    <label for="Age" class="form-label mb--10">Your Age</label>
                                                    <input name="user[age]" id="agee" type="text" value={{ age }}>
                                                    <div id="age">
                                                    </div>
                                                </div>
                                                <select class="profile-edit-select" name="user[status]" id="status">
                                                    {% set status = status %}
                                                    <option value="Married"
                                                            {% if status == 'Married' %}selected{% endif %}>
                                                        Married
                                                    </option>
                                                    <option value="Single"
                                                            {% if status == 'Single' %}selected{% endif %}>
                                                        Single
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="input-two-wrapepr-prifile">
                                                <!-- start Role area -->
                                                <div class="role-area mt--15">
                                                    <label for="PhoneNumber" class="form-label">Phone Number</label>
                                                    <input name="phoneNumber" id="phoneNumberr" type="text"
                                                           value={{ phoneNumber }}>
                                                    <div id="phoneNumber">
                                                    </div>
                                                </div>
                                                <select class="profile-edit-select" name="user[gender]" id="gender">
                                                    {% set gender = gender %}
                                                    <option value="Male"
                                                            {% if gender == 'Married' %}selected{% endif %}>
                                                        Male
                                                    </option>
                                                    <option value="Female"
                                                            {% if gender == 'Single' %}selected{% endif %}>
                                                        Female
                                                    </option>
                                                </select>
                                                <!-- end gender -->
                                            </div>

                                            <div class="profile-form-wrapper">
                                                <div class="input-two-wrapper mt--15">
                                                    <div class="first-name half-wid">
                                                        <label for="cin" class="form-label">Your Cin Number</label>
                                                        <input name="cin" id="cinn" type="text" value={{ cin }}>
                                                        <div id="cin">
                                                        </div>
                                                    </div>
                                                    <div class="last-name half-wid">
                                                        <label class="dob" for="datepicker">Date of brith</label>
                                                        <input class="form-control datetimepicker" id="date" type="date"
                                                               data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}'
                                                               value="{{ dob|date('Y-m-d') }}"/>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                    <style>
                                        .notifIcon {
                                            color: #3EB75E;
                                            margin: 0 10px 0 0;
                                        }

                                        .notifDiv {
                                            font-size: 20px;
                                        }
                                    </style>
                                    <div class="button-area save-btn-edit">
                                        <a href="{{ path('editProfile') }}" class="btn btn-primary-alta mr--15"
                                           onclick="customAlert.alert('Cancel Edit Profile?')">Clean</a>
                                        <button type="submit" id="submit_button" name="submit_button"
                                                class="btn btn-primary mr--15" onclick="editProfile(event)">Update
                                        </button>
                                    </div>

                                    <!-- End personal information -->

                                </div>
                                <!-- End single tabv content -->

                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                     aria-labelledby="nav-profile-tab">
                                    <!-- change password area Start -->
                                    <div class="nuron-information">
                                        <div class="condition">
                                            <h5 class="title">Create Your Password</h5>
                                            <p class="condition">
                                                Passwords are a critical part of information and network security.
                                                Passwords
                                                serve to protect user accounts but a poorly chosen password, if
                                                compromised,
                                                could put the entire network at risk.
                                            </p>
                                            <hr/>
                                            <div class="email-area">
                                                <label for="Email2" class="form-label">Enter Email</label>
                                                <input name="email" id="Email2" type="email" value="">
                                            </div>
                                        </div>
                                        <div class="input-two-wrapper mt--15">
                                            <div class="old-password half-wid">
                                                <label for="oldPass" class="form-label">Enter Old Password</label>
                                                <input name="pass" id="oldPass" type="password">
                                                <div id="other">
                                                </div>
                                            </div>
                                            <div class="new-password half-wid">
                                                <label for="NewPass" class="form-label">Create New Password</label>
                                                <input name="password" id="NewPass" type="password">
                                                <div id="password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="email-area mt--15">
                                            <label for="rePass" class="form-label">Confirm Password</label>
                                            <input name="Password" id="rePass" type="password" value="">
                                        </div>
                                        <a href="#" class="btn btn-primary save-btn-edit"
                                           onclick="editPassword(event)">Save</a>
                                    </div>
                                    <!-- change password area ENd -->
                                </div>

                                <div class="tab-pane fade " id="nav-contact" role="tabpanel"
                                     aria-labelledby="nav-contact-tab">
                                    <!-- start Notification Setting  -->
                                    <div class="nuron-information">
                                        <h5 class="title">Choose Your Location </h5>
                                        <!-- start notice wrapper parrent -->
                                        <div id="mapCss">
                                            <div class="pac-card" id="pac-card">
                                                <input id="pac-input" type="text" placeholder="Enter a location"/>
                                            </div>
                                            <div id="map" style="min-height: 500px"></div>
                                            <div id="infowindow-content">
                                                <span id="place-name" class="title"></span><br/>
                                                <span id="place-address"></span>
                                            </div>
                                        </div>
                                        <div class="input-two-wrapper mt--15">
                                            <div class="old-password half-wid">
                                                <label for="mapAddress" class="form-label">Address: </label>
                                                <input id="mapAddress" type="text"
                                                       value="{{ app.user.address|default('none') }}" disabled>
                                                <div id="other">
                                                </div>
                                            </div>
                                            <div class="new-password">
                                                <label for="municipality" class="form-label">Municipality: </label>
                                                <input id="municipality" type="text" disabled
                                                       value="{{ app.user.getMunicipalite().name|default('none') }}">
                                                <input id="municipalityAddressNew" type="hidden" disabled>
                                                <input id="state" type="hidden" disabled>
                                                <div id="password">
                                                </div>
                                            </div>
                                            <div class="new-password mt-3">
                                                <a class="btn btn-primary save-btn-edit "
                                                   onclick="saveUserLocation()">Save</a>
                                            </div>
                                        </div>
                                        <!-- end notice wrapper parrent -->
                                    </div>
                                    <!-- End Notification Setting  -->
                                </div>

                                <div class="tab-pane fade" id="nav-cin" role="tabpanel"
                                     aria-labelledby="nav-cin-tab">
                                    <!-- start personal information -->
                                    <div class="nuron-information">

                                        <div class="row g-5">
                                            <div class="profile-left col-lg-6">
                                                <div class="profile-image mb--30">
                                                    <h6 class="title">Insert Front Image Of Your Id</h6>
                                                    <div class="upload-area">
                                                        <div class="brows-file-wrapper">
                                                            <input
                                                                    name="createinputfile4"
                                                                    id="createinputfile4"
                                                                    type="file"
                                                                    class="inputfile"
                                                            />
                                                            <img
                                                                    id="createfileImage4"
                                                                    {% if(cinFront=='none') %}
                                                                        src="{{ asset('assets/images/portfolio/portfolio-05.jpg') }}"
                                                                    {% else %}
                                                                        src="{{ asset('usersImg/'~cinFront) }}"
                                                                    {% endif %}
                                                                    alt=""
                                                                    data-black-overlay="6"
                                                            />
                                                            <label for="createinputfile4" title="No File Choosen">
                                                                <i class="feather-upload"></i>
                                                                <span class="text-center">Choose a File</span>
                                                                <p class="text-center mt&#45;&#45;10">
                                                                    PNG, GIF, WEBP, MP4 or MP3. <br/>
                                                                    Max 1Gb.
                                                                </p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="profile-left right col-lg-6">
                                                <div class="profile-image mb--30">
                                                    <h6 class="title">Insert Back Image Of Your Id</h6>
                                                    <div class="upload-area">
                                                        <div class="brows-file-wrapper">
                                                            <input
                                                                    name="createinputfile5"
                                                                    id="createinputfile5"
                                                                    type="file"
                                                                    class="inputfile"
                                                            />
                                                            <img
                                                                    id="createfileImage5"
                                                                    {% if(cinBack=='none') %}
                                                                        src="{{ asset('assets/images/portfolio/portfolio-05.jpg') }}"
                                                                    {% else %}
                                                                        src="{{ asset('usersImg/'~cinBack) }}"
                                                                    {% endif %}
                                                                    alt=""
                                                                    data-black-overlay="6"
                                                            />
                                                            <label for="createinputfile5" title="No File Choosen">
                                                                <i class="feather-upload"></i>
                                                                <span class="text-center">Choose a File</span>
                                                                <p class="text-center mt&#45;&#45;10">
                                                                    PNG, GIF, WEBP, MP4 or MP3. <br/>
                                                                    Max 1Gb.
                                                                </p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="btn btn-primary save-btn-edit mt-1 mb-1"
                                           onclick="saveCin()">Save</a>
                                    </div>
                                    <!-- End personal information -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End tabs area -->
{% endblock %}

{% block scripts %}

    <script
            src="https://maps.googleapis.com/maps/api/js?key={{ app.request.server.get('MAP_VARIABLE') }}&callback=initMap&libraries=places&v=weekly&solution_channel=GMP_CCS_autocomplete_v1"
            defer
    ></script>
{% endblock %}
