{% extends 'base.html.twig' %}
{% block body %}


<div class="popup-mobile-menu">
    <div class="inner">
        <div class="header-top">
            <div class="logo logo-custom-css">
                <a class="logo-light" href="index.html"><img src="assets/images/logo/logo-white.png" alt="nft-logo"></a>
                <a class="logo-dark" href="index.html"><img src="assets/images/logo/logo-dark.png" alt="nft-logo"></a>
            </div>
            <div class="close-menu">
                <button class="close-button">
                    <i class="feather-x"></i>
                </button>
            </div>
        </div>
        <nav>
            <!-- Start Mainmanu Nav -->
            <ul class="mainmenu">
                <li class="has-droupdown">
                    <a class="nav-link its_new" href="#">Home</a>
                    <ul class="submenu">
                        <li><a href="index.html">Home page - 01 <i class="feather-home"></i></a></li>
                        <li><a href="index-two.html">Home page - 02<i class="feather-home"></i></a></li>
                        <li><a href="index-three.html">Home page - 03<i class="feather-home"></i></a></li>
                        <li><a href="index-four.html">Home page - 04<i class="feather-home"></i></a></li>
                        <li><a href="index-five.html">Home page - 05<i class="feather-home"></i></a></li>
                        <li><a href="index-six.html">Home page - 06<i class="feather-home"></i></a></li>
                        <li><a href="index-seven.html">Home page - 07<i class="feather-home"></i></a></li>
                        <li><a href="index-eight.html">Home page - 08<i class="feather-home"></i></a></li>
                        <li><a href="index-nine.html">Home page - 09<i class="feather-home"></i></a></li>
                        <li><a href="index-ten.html">Home page - 10<i class="feather-home"></i></a></li>
                        <li><a href="index-eleven.html">Home page - 11<i class="feather-home"></i></a></li>
                        <li><a href="index-twelve.html">Home page - 12<i class="feather-home"></i></a></li>
                        <li><a href="index-thirteen.html">Home page - 13<i class="feather-home"></i></a></li>
                        <li><a href="index-fourteen.html">Home page - 14<i class="feather-home"></i></a></li>
                        <li><a href="index-fifteen.html">Home page - 15<i class="feather-home"></i></a></li>
                        <li><a href="index-sixteen.html">Home page - 16<i class="feather-home"></i></a></li>
                        <li><a href="index-seventeen.html">Home page - 17<i class="feather-home"></i></a></li>
                        <li><a href="index-eighteen.html">Home page - 18<i class="feather-home"></i></a></li>
                    </ul>
                </li>
                <li><a href="about.html">About</a>
                </li>
                <li class="has-droupdown">
                    <a class="nav-link its_new" href="#">Explore</a>
                    <ul class="submenu">
                        <li><a href="explore-one.html">Explore Filter<i class="feather-fast-forward"></i></a></li>
                        <li><a href="explore-two.html">Explore Isotop<i class="feather-fast-forward"></i></a></li>
                        <li><a href="explore-three.html">Explore Carousel<i class="feather-fast-forward"></i></a></li>
                        <li><a href="explore-four.html">Explore Simple<i class="feather-fast-forward"></i></a></li>
                        <li><a href="explore-five.html">Explore Place Bid<i class="feather-fast-forward"></i></a></li>
                        <li><a href="explore-six.html">Place Bid With Filter<i class="feather-fast-forward"></i></a></li>
                        <li><a href="explore-seven.html">Place Bid With Isotop<i class="feather-fast-forward"></i></a></li>
                        <li><a href="explore-eight.html">Place Bid With Carousel<i class="feather-fast-forward"></i></a></li>
                        <li><a href="explore-list-style.html">Explore Style List<i class="feather-fast-forward"></i></a></li>
                        <li><a href="explore-list-column-two.html">Explore List Col-Two<i class="feather-fast-forward"></i></a></li>
                        <li><a href="explore-left-filter.html">Explore Left Filter<i class="feather-fast-forward"></i></a></li>
                        <li><a class="live-expo" href="explore-live.html">Live Explore</a></li>
                        <li><a class="live-expo" href="explore-live-two.html">Live Explore Carousel</a></li>
                        <li><a class="live-expo" href="explore-live-three.html">Live With Place Bid</a></li>
                    </ul>
                </li>
                <li class="with-megamenu">
                    <a class="nav-link its_new" href="#">Pages</a>
                    <div class="rn-megamenu">
                        <div class="wrapper">
                            <div class="row row--0">
                                <div class="col-lg-3 single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li>
                                            <a href="create.html">Create NFT<i data-feather="file-plus"></i></a>
                                        </li>
                                        <li>
                                            <a href="upload-variants.html">Upload Type<i data-feather="layers"></i></a>
                                        </li>
                                        <li><a href="activity.html">Activity<i data-feather="activity"></i></a></li>
                                        <li>
                                            <a href="creator.html">Creators<i data-feather="users"></i></a>
                                        </li>
                                        <li><a href="collection.html">Our Collection<i data-feather="package"></i></a></li>
                                        <li><a href="upcoming_projects.html">Upcoming Projects<i data-feather="loader"></i></a></li>
                                        <li><a href="create-collection.html">Create Collection<i data-feather="edit-3"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li><a href="login.html">Log In <i data-feather="log-in"></i></a></li>
                                        <li><a href="sign-up.html">Registration <i data-feather="user-plus"></i></a></li>
                                        <li><a href="forget.html">Forget Password <i data-feather="key"></i></a></li>
                                        <li>
                                            <a href="author.html">Author/Profile(User) <i data-feather="user"></i></a>
                                        </li>
                                        <li>
                                            <a href="connect.html">Connect to Wallet <i data-feather="pocket"></i></a>
                                        </li>
                                        <li><a href="privacy-policy.html">Privacy Policy <i data-feather="file-text"></i></a></li>
                                        <li><a href="newsletter.html">Newsletter<i data-feather="book-open"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 single-mega-item">
                                    <ul class="mega-menu-item">

                                        <li><a href="product.html">Product<i data-feather="folder"></i></a></li>
                                        <li><a href="product-details.html">Product Details <i data-feather="layout"></i></a></li>
                                        <li><a href="ranking.html">NFT Ranking<i data-feather="trending-up"></i></a></li>
                                        <li><a href="blog.html">Our News <i data-feather="message-square"></i></a></li>
                                        <li><a href="blog-details.html">Blog Details<i data-feather="book-open"></i></a></li>
                                        <li><a href="404.html">404 <i data-feather="alert-triangle"></i></a></li>
                                        <li><a href="forum-community.html">Forum & Community<i data-feather="message-circle"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li><a href="about.html">About Us<i data-feather="award"></i></a></li>
                                        <li><a href="contact.html">Contact <i data-feather="headphones"></i></a></li>
                                        <li><a href="support.html">Support/FAQ <i data-feather="help-circle"></i></a></li>
                                        <li><a href="terms-condition.html">Terms & Condition <i data-feather="list"></i></a></li>
                                        <li><a href="coming-soon.html">Coming Soon <i data-feather="clock"></i></a></li>
                                        <li><a href="maintenance.html">Maintenance <i data-feather="cpu"></i></a></li>
                                        <li><a href="forum-details.html">Forum Details <i data-feather="message-circle"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="has-droupdown has-menu-child-item">
                    <a class="nav-link its_new" href="blog.html">Blog</a>
                    <ul class="submenu">
                        <li><a href="blog-single-col.html">Blog Single Column<i class="feather-fast-forward"></i></a></li>
                        <li><a href="blog-col-two.html">Blog Two Column<i class="feather-fast-forward"></i></a></li>
                        <li><a href="blog-col-three.html">Blog Three Column<i class="feather-fast-forward"></i></a></li>
                        <li><a href="blog.html">Blog Four Column<i class="feather-fast-forward"></i></a></li>
                        <li><a href="blog-details.html">Blog Details<i class="feather-fast-forward"></i></a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <!-- End Mainmanu Nav -->
        </nav>
    </div>
</div>

<!-- login form -->
<div class="login-area rn-section-gapTop">
    <div class="container">
        <div class="row g-5">
            <div class=" offset-2 col-lg-4 col-md-6 ml_md--0 ml_sm--0 col-sm-12">
                <div class="form-wrapper-one">
                    <h4>Login</h4>
                    <form method="POST">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <div class="mb-5">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required>
                        </div>
                        <div class="mb-5">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                        <div class="mb-5 rn-check-box">
                            <input type="checkbox" class="rn-check-box-input" id="exampleCheck1">
                            <label class="rn-check-box-label" for="exampleCheck1">Remember me leter</label>
                        </div>
                        <button class="btn btn-lg btn-primary" type="submit">
                            log in
                        </button>
                        <a href="{{path('app_register')}}" class="btn btn-primary-alta">Sign Up</a>
                    </form>
                </div>
            </div>
{#            <script>#}
{#              #}
{#                // function editProfile(event) {#}
{#                //     event.preventDefault();#}
{#                //     let formData = new FormData();#}
{#                //     let email=$('#email').val();#}
{#                //     let password=$('#password').val();#}
{#                //     formData.append('email',email);#}
{#                //     formData.append('password',password);#}
{#                //     $.ajax({#}
{#                //#}
{#                //         url: '/login',#}
{#                //         type: "POST",#}
{#                //         data:formData,#}
{#                //         async: true,#}
{#                //         processData: false,#}
{#                //         contentType: false,#}
{#                //         success: function (response) {#}
{#                //             console.log(response.state);#}
{#                //#}
{#                //         },#}
{#                //         error: function (response) {#}
{#                //             console.log("error");#}
{#                //         },#}
{#                //     });#}
{#                // }#}

{#            </script>#}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="social-share-media form-wrapper-one">
                    <h6>Another way to log in</h6>
                    <p> Lorem ipsum dolor sit, amet sectetur adipisicing elit.cumque.</p>
                    <button id="loginWithGoogleButton"  class="another-login login-facebook"> <img class="small-image" src="assets/images/icons/google.png" alt=""> <span>Log in with Google</span></button>
                    <button class="another-login login-facebook"> <img class="small-image" src="assets/images/icons/facebook.png" alt=""> <span>Log in with Facebook</span></button>
                    <button class="another-login login-twitter"> <img class="small-image" src="assets/images/icons/tweeter.png" alt=""> <span>Log in with Twitter</span></button>
                    <button class="another-login login-linkedin"> <img class="small-image" src="assets/images/icons/linkedin.png" alt=""> <span>Log in with linkedin</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

        var loginWithGoogleButton = document.getElementById('loginWithGoogleButton');
        loginWithGoogleButton.addEventListener('click', function() {
        window.location.href = '/connect/google';
    });


</script>
<!-- login form end -->




<!-- JS ============================================ -->
<script src="assets/js/vendor/jquery.js"></script>
<script src="assets/js/vendor/jquery.nice-select.min.js"></script>
<script src="assets/js/vendor/jquery-ui.js"></script>
<script src="assets/js/vendor/modernizer.min.js"></script>
<script src="assets/js/vendor/feather.min.js"></script>
<script src="assets/js/vendor/slick.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/vendor/sal.min.js"></script>
<script src="assets/js/vendor/particles.js"></script>
<script src="assets/js/vendor/jquery.style.swicher.js"></script>
<script src="assets/js/vendor/js.cookie.js"></script>
<script src="assets/js/vendor/count-down.js"></script>
<script src="assets/js/vendor/isotop.js"></script>
<script src="assets/js/vendor/imageloaded.js"></script>
<script src="assets/js/vendor/backtoTop.js"></script>
<script src="assets/js/vendor/odometer.js"></script>
<script src="assets/js/vendor/jquery-appear.js"></script>
<script src="assets/js/vendor/scrolltrigger.js"></script>
<script src="assets/js/vendor/jquery.custom-file-input.js"></script>
<script src="assets/js/vendor/savePopup.js"></script>
<script src="assets/js/vendor/vanilla.tilt.js"></script>

<!-- main JS -->
<script src="assets/js/main.js"></script>
<!-- Meta Mask  -->
<script src="assets/js/vendor/web3.min.js"></script>
<script src="assets/js/vendor/maralis.js"></script>
<script src="assets/js/vendor/nft.js"></script>
</body>
{% endblock %}