<!DOCTYPE html>
<html data-navigation-type="default" data-navbar-horizontal-shape="default" lang="en-US" dir="ltr">
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>CitizenHub</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
 {% block javascripts %}
    <meta name="msapplication-TileImage" content=" {{ asset('assetsAdmin/assets/img/favicons/mstile-150x150.png') }}">
    <meta name="theme-color" content="#ffffff">
    <script src="assetsAdmin/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="assetsAdmin/vendors/simplebar/simplebar.min.js"></script>
    <script src="assetsAdmin/assets/js/config.js"></script>
    <script src="assetsAdmin/vendors/popper/popper.min.js"></script>
    <script src="assetsAdmin/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="assetsAdmin/vendors/anchorjs/anchor.min.js"></script>
    <script src="assetsAdmin/vendors/is/is.min.js"></script>
    <script src="assetsAdmin/vendors/fontawesome/all.min.js"></script>
    <script src="assetsAdmin/vendors/lodash/lodash.min.js"></script>
    <script src="../../../../../../polyfill.io/v3/polyfill.min58be.js?features=window.scroll"></script>
    <script src="assetsAdmin/vendors/list.js/list.min.js"></script>
    <script src="assetsAdmin/vendors/feather-icons/feather.min.js"></script>
    <script src="assetsAdmin/vendors/dayjs/dayjs.min.js"></script>
    <script src=assetsAdmin/assets/js/phoenix.js"></script>
 {% endblock %}
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
 {% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assetsAdmin/assets/img/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assetsAdmin/assets/img/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href=" {{ asset('assetsAdmin/assets/img/favicons/favicon-16x16.png') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assetsAdmin/assets/img/favicons/favicon.ico ') }}">
    <link rel="manifest" href="  {{ asset('assetsAdmin/assets/img/favicons/manifest.json') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href=" {{ asset('assetsAdmin/vendors/simplebar/simplebar.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="../../../../../../unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="{{ asset('assetsAdmin/assets/css/theme-rtl.min.css') }}"  type="text/css" rel="stylesheet" id="style-rtl">
    <link href="{{ asset('assetsAdmin/assets/css/theme.min.css') }}" type="text/css" rel="stylesheet" id="style-default">
    <link href="{{ asset('assetsAdmin/assets//css/user-rtl.min.css') }}" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href=" {{ asset('assetsAdmin/assets/css/user.min.css') }}" type="text/css" rel="stylesheet" id="user-style-default">
 {% endblock %}
    <script>
      var phoenixIsRTL = window.config.config.phoenixIsRTL;
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>

  <body>
{#  {% if errors is not empty %}#}
{#      <div class="message-container">#}
{#          <div class="error">fixed your errors </div>#}
{#      </div>#}
{#  {% endif %}#}
    <main class="main" id="top">
      <div class="container">
        <div class="row flex-center min-vh-100 py-5">
          <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a class="d-flex flex-center text-decoration-none mb-4" href="../../../index.html">
              <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block">
               <img src="{{ asset('images/appLogo/appNameBlack.png') }}"  width="200" height="50"/>
              </div>
            </a>
            <div class="text-center mb-7">
              <h3 class="text-body-highlight">Sign Up</h3>
              <p class="text-body-tertiary">Create your account today</p>
            </div><button class="btn btn-phoenix-secondary w-100 mb-3">
            <span class="fab fa-google text-danger me-2 fs-9"></span>Sign up with google</button>
           <button class="btn btn-phoenix-secondary w-100"><span class="fab fa-facebook text-primary me-2 fs-9">
            </span>Sign up with facebook</button>

            <div class="position-relative mt-4">
              <hr class="bg-body-secondary" />
              <div class="divider-content-center">or use email</div>
            </div>
              <form  method="POST" action="{{ path('app_register_Admin') }}">
              <div class="mb-3 text-start"><label class="form-label" for="name">Name</label>
                  <input class="form-control" id="name" name="admin[firstName]" type="text" placeholder="Name" value=" {{ name }} "/>
                  <div>
                      {% if errors['firstName'] is defined %}
                          <div class="test">{{ errors['firstName'] }}</div>
                      {% endif %}
                  </div>
{#                  <style>#}
{#                      .test {#}
{#                          color: red;#}
{#                          font-weight: bold;#}
{#                      }#}
{#                  </style>#}
              </div>
{#                  <div class="mb-3 text-start"><label class="form-label" for="name">LastName</label>#}
{#                      <input class="form-control" id="lastName" name="admin[lastName]" type="text" placeholder="Name" value=" {{ lastName }}" />#}
{#                      <div>#}
{#                          {% if errors['lastName'] is defined %}#}
{#                              <div class="test">{{ errors['lastName'] }}</div>#}
{#                          {% endif %}#}
{#                      </div>#}
{#                  </div>#}
              <div class="mb-3 text-start"><label class="form-label" for="email">Email address</label>
                  <input class="form-control" id="email" name="admin[email]" type="email" placeholder="name@example.com"  value=" {{ email }}"  />
                  <div>
                      {% if errors['email'] is defined %}
                          <div class="test">{{ errors['email'] }}</div>
                      {% endif %}
                  </div>
              </div>
{#                  <div class="mb-3 text-start"><label class="form-label" for="name">Address</label>#}
{#                      <input class="form-control" id="address" name="admin[address]" type="text" placeholder="Name"  value=" {{ address }}"  />#}
{#                      <div>#}
{#                          {% if errors['address'] is defined %}#}
{#                              <div class="test">{{ errors['address'] }}</div>#}
{#                          {% endif %}#}
{#                      </div>#}
{#                  </div>#}
              <div class="row g-3 mb-3">
                <div class="col-sm-6"><label class="form-label" for="password">Password</label>
                    <input class="form-control form-icon-input" id="password" name="admin[password]" type="password" placeholder="Password" />
                </div>
                <div class="col-sm-6"><label class="form-label" for="confirmPassword">Confirm Password</label>
                    <input class="form-control form-icon-input" id="confirmPassword" name="admin[confirmPassword]" type="password" placeholder="Confirm Password" />
                </div>
              </div>
              <div class="form-check mb-3">
                  <input class="form-check-input" id="termsService" type="checkbox" />
                  <label class="form-label fs-9 text-transform-none" for="termsService">I accept the <a href="#!">terms </a>and <a href="#!">privacy policy</a></label></div>
               <button class="btn btn-primary w-100 mb-3">Sign up</button>
              <div class="text-center"><a class="fs-9 fw-bold" href="sign-in.html">Sign in to an existing account</a></div>
            </form>
          </div>
        </div>
      </div>
      <div class="support-chat-container">
        <div class="container-fluid support-chat">
          <div class="card bg-body-emphasis">
            <div class="card-header d-flex flex-between-center px-4 py-3 border-bottom border-translucent">
              <h5 class="mb-0 d-flex align-items-center gap-2">Demo widget<span class="fa-solid fa-circle text-success fs-11"></span></h5>
              <div class="btn-reveal-trigger"><button class="btn btn-link p-0 dropdown-toggle dropdown-caret-none transition-none d-flex" type="button" id="support-chat-dropdown" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h text-body"></span></button>
                <div class="dropdown-menu dropdown-menu-end py-2" aria-labelledby="support-chat-dropdown"><a class="dropdown-item" href="#!">Request a callback</a><a class="dropdown-item" href="#!">Search in chat</a><a class="dropdown-item" href="#!">Show history</a><a class="dropdown-item" href="#!">Report to Admin</a><a class="dropdown-item btn-support-chat" href="#!">Close Support</a></div>
              </div>
            </div>
            <div class="card-body chat p-0">
              <div class="d-flex flex-column-reverse scrollbar h-100 p-3">
                <div class="text-end mt-6"><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">I need help with something</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">I can’t reorder a product I previously ordered</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">How do I place an order?</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a><a class="false d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                    <p class="mb-0 fw-semibold fs-9">My payment method not working</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                  </a></div>
                <div class="text-center mt-auto">
                  <div class="avatar avatar-3xl status-online"><img class="rounded-circle border border-3 border-light-subtle" src="../../../assets/img/team/30.webp" alt="" /></div>
                  <h5 class="mt-2 mb-3">Eric</h5>
                  <p class="text-center text-body-emphasis mb-0">Ask us anything – we’ll get back to you here or by email within 24 hours.</p>
                </div>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center gap-2 border-top border-translucent ps-3 pe-4 py-3">
              <div class="d-flex align-items-center flex-1 gap-3 border border-translucent rounded-pill px-4"><input class="form-control outline-none border-0 flex-1 fs-9 px-0" type="text" placeholder="Write message" /><label class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0" for="supportChatPhotos"><span class="fa-solid fa-image"></span></label><input class="d-none" type="file" accept="image/*" id="supportChatPhotos" /><label class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0" for="supportChatAttachment"> <span class="fa-solid fa-paperclip"></span></label><input class="d-none" type="file" id="supportChatAttachment" /></div><button class="btn p-0 border-0 send-btn"><span class="fa-solid fa-paper-plane fs-9"></span></button>
            </div>
          </div>
        </div><button class="btn p-0 border border-translucent btn-support-chat"><span class="fs-8 btn-text text-primary text-nowrap">Chat demo</span><span class="fa-solid fa-circle text-success fs-9 ms-2"></span><span class="fa-solid fa-chevron-down text-primary fs-7"></span></button>
      </div>
    </main>
  </body>



</html>