{% extends 'base.html.twig' %}
{% block body %}
    <script src="{{ asset('js/userScript.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <!-- start page title area -->
    <div class="rn-breadcrumb-inner ptb--30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <h5 class="title text-center text-md-start">Sign Up</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-list">
                        <li class="item"><a href="index.html">Home</a></li>
                        <li class="separator"><i class="feather-chevron-right"></i></li>
                        <li class="item current">Sign Up</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title area -->

    {% if errors is not empty %}
        <div class="message-container">
            <div class="error">fixed your errors </div>
        </div>
    {% endif %}

    <!-- login form -->
    <div  id='main-content' class="login-area rn-section-gapTop">
        <div class="container">
            <div class="row g-5">
                <div class="offset-2 col-lg-4 col-md-6 ml_md--0 ml_sm--0 col-sm-12">
                    <div class="form-wrapper-one registration-area">
                        <h4>Sign up</h4>
                        <form id="signup-form" method="POST" action="{{ path('app_register') }}">
                            <div class="mb-5">
                                <label for="firstName" class="form-label">First name</label>
                                <input type="text" id="firstName" name="user[firstName]" value="{{ name }}">
                                <div>
                                    {% if errors['firstName'] is defined %}
                                    <div class="test">{{ errors['firstName'] }}</div>
                                    {% endif %}
                                </div>
                                <style>
                                    .test {
                                        color: red;
                                        font-weight: bold;
                                    }
                                </style>

                            </div>
                            <div class="mb-5">
                                <label for="lastName" class="form-label">Last name</label>
                                <input type="text" id="lastName" name="user[lastName]" value="{{ lastName }}" >
                                <div >
                                    {% if errors['lastName'] is defined %}
                                        <div class="test">{{ errors['lastName'] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="mb-5">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input  id="exampleInputEmail1" name="user[email]" value="{{ email }}">
                                <div >
                                    {% if errors['Email'] is defined %}
                                        <div class="test">{{ errors['Email'] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="mb-5">
                                <label for="newPassword" class="form-label">Create Password</label>
                                <input type="password" id="newPassword" name="user[password]">
                                <div >
                                    {% if errors['password'] is defined %}
                                        <div class="test">{{ errors['password'] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="mb-5">
                                <label for="exampleInputPassword1" class="form-label">Re Password</label>
                                <input type="password" id="exampleInputPassword1" name="user[password1]">
                            </div>

                            <div class="mb-5 rn-check-box">
                                <input type="checkbox" class="rn-check-box-input" id="exampleCheck1">
                                <label class="rn-check-box-label" for="exampleCheck1">Allow to all tearms &
                                    condition</label>
                            </div>
                            <button  type="submit" name="submit_button" class="btn btn-primary mr--15">Sign Up</button>
                            <a href="{{path('app_login')}}" class="btn btn-primary-alta">login Up</a>
                        </form>

                    </div>
                </div>
                <div id="loader" style="display: none;">
                    <img src="images/img/Animation - 1714076220937.gif"  alt="Loader">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="social-share-media form-wrapper-one">
                        <h6>Another way to sign up</h6>
                        <p> Lorem ipsum dolor sit, amet sectetur adipisicing elit.cumque.</p>
                        <button  id="loginWithGoogleButton" class="another-login login-facebook"> <img class="small-image" src="assets/images/icons/google.png" alt=""> <span>Sign up  with Google</span></button>
                        <button class="another-login login-facebook"> <img class="small-image" src="assets/images/icons/facebook.png" alt=""> <span>Sign up  with Facebook</span></button>
                        <button class="another-login login-twitter"> <img class="small-image" src="assets/images/icons/tweeter.png" alt=""> <span>Sign up  with Twitter</span></button>
                        <button class="another-login login-linkedin"> <img class="small-image" src="assets/images/icons/linkedin.png" alt=""> <span>Sign up with linkedin</span></button>
                    </div>
                </div>
                <script>
                    var loginWithGoogleButton = document.getElementById('loginWithGoogleButton');
                    loginWithGoogleButton.addEventListener('click', function() {
                        window.location.href = '/connect/google';
                    });
                </script>
            </div>
        </div>
    </div>

    <!-- login form end -->


{% endblock %}

